<p-dialog header="GENERAR TARIFAS DE PAGOS" [(visible)]="visibleModal" position="center" [style]="{ width: '75vw' }" [modal]="true" (onHide)="event.emit(false)" (onShow)="showAfiliados()">
    <p>
    <i>{{title}}</i>
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loading; else informacion"></i>
</p>
    <ng-template #informacion>
        <div class="card">
            
        <div class="grid" *ngIf="perfiles.length>0; else sinInfo">
            <div class="col-12 grid">
                <div class="col">AFILIADO</div>
                <div class="col">NRO. MEDIDOR</div>
                <div class="col">BARRIO MEDIDOR.</div>
                <div class="col">LECTURA DEL MES</div>
                <div class="col">ESTADO MEDIDOR</div>
            </div>
            <div class="col-12" *ngFor="let customer of perfiles;let i=index">
                <div class="card grid nested-grid">
                    <div class="col-3 ">
                        <p class="fs-text">
                            {{customer.nombrePrimero | titlecase}} {{customer.nombreSegundo ||"" |titlecase}} {{customer.apellidoPrimero | titlecase}} {{customer.apellidoSegundo ||"" | titlecase}}
                        </p>
                    </div>
                    <div class="col-9">
                        <div class="grid" *ngFor="let asc of customer.afiliado!.medidorAsociado;let j=index">
                            <div class="col-3 px-3"><p class="fs-text">{{asc.medidor?.nroMedidor}}</p></div>
                            <div class="col-3 px-3"><p class="fs-text">{{asc.ubicacion?.barrio}}</p></div>
                            <div class="col-3 px-3"><p class="fs-text">{{asc.planillas![0].lecturas![0].lectura}}</p></div>
                            <div class="col-3 px-3"><p class="fs-text">{{asc.planillas![0].lecturas![0].estadoMedidor}}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #sinInfo>
            <p>NO HAY AFILIADOS SIN TARIFAS POR GENERAR DEL MES: ....</p>
        </ng-template>
        
    </div></ng-template>
    <button pButton pRipple class="p-button-secondary" label="Generar reportes" (click)="showConfirm()" [disabled]="perfiles.length===0"></button>
</p-dialog>
<p-toast position="bottom-center" key="confirm" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Sí" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton label="No" class="p-button-secondary" (click)="onReject()"></button>
                </div>
            </div>
        </div>
    </ng-template>
    </p-toast>