<p-dialog header="GENERAR TARIFAS DE PAGOS" [(visible)]="visibleModal" position="center" [style]="{ width: '75vw' }" [modal]="true" (onHide)="event.emit(false)" (onShow)="showAfiliados()">
    <p>
    <i>{{title}}</i>
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loading; else informacion"></i>
</p>
    <ng-template #informacion>
        <p-table [value]="perfiles" [tableStyle]="{ 'min-width': '50rem' }"
        (selectionChange)="selectPlanilla($event)"
        (onRowUnselect)="unselectPlanilla($event)"
        
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>AFILIACION</th>
                    <th>GESTION</th>
                    <th>NRO MEDIDOR</th>
                    <th>MES LECTURA</th>
                    <th>TARIFA POR PAGAR</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-perfil>
                <ng-container >
                    <tr *ngIf="perfil.afiliado.medidorAsociado.length<2; else segundaForma">
                      <td><p-tableCheckbox [value]="perfil"></p-tableCheckbox></td>
                      <td> {{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||"" |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||"" | titlecase}}</td>
                      <td>{{perfil.afiliado.medidorAsociado[0].planillas[0].gestion}}</td>
                      <td>{{perfil.afiliado.medidorAsociado[0].medidor.nroMedidor}}</td>
                      <td>{{perfil.afiliado.medidorAsociado[0].planillas[0].lecturas[0].PlanillaMesLecturar}}</td>
                      <td>{{perfil.afiliado.medidorAsociado[0].planillas[0].lecturas[0].tarifaGenerada ? 'SI':'NO'}}</td>
                    </tr>
                    <ng-template #segundaForma>
                    <tr  *ngFor="let asociacion of perfil.afiliado.medidorAsociado;let i=index" >
                      <td><p-tableCheckbox [value]="perfil"></p-tableCheckbox></td>
                      <td class="left-side" [rowSpan]="perfil.afiliado.medidorAsociado.length" *ngIf="i===0"> {{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||"" |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||"" | titlecase}}</td>
                      <td>{{asociacion.planillas[0].gestion}}</td>
                      <td>{{asociacion.medidor.nroMedidor}}</td>
                      <td>{{asociacion.planillas[0].lecturas[0].PlanillaMesLecturar}}</td>
                      <td>{{asociacion.planillas[0].lecturas[0].tarifaGenerada ? 'SI':'NO'}}</td>
                    </tr>
                  </ng-template>
                  
                </ng-container>
            </ng-template>
        </p-table>
</ng-template>
    <button pButton pRipple class="p-button-secondary" label="Generar reportes" (click)="showConfirm()" [disabled]="perfiles.length===0"></button>
</p-dialog>
<p-toast position="bottom-center" key="confirm" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Sí" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton label="No" class="p-button-secondary" (click)="onReject()"></button>
                </div>
            </div>
        </div>
    </ng-template>
    </p-toast>