<p-dialog header="{{'Detalles de lectura Mes ' + lectura?.mesLecturado}}" [(visible)]="visible" [modal]="true" [style]="{ width: '68vw' }" [draggable]="false" [resizable]="false" (onHide)="eventVisible.emit(false)" [baseZIndex]="900">
    <div class="card m-3">
        <div class="col-12 grid">
            <div class="col-12 md:col-6">
                <div class="text-900 text-xl mb-2 font-medium text-right">Fecha de Lectura Registrada</div>
                <p class="text-700 line-height-3 text-right">{{lectura?.created_at| date: 'dd/mm/yyyy'}}</p>
            </div>
            <div class="col-12 md:col-6">
                <div class="text-900 text-xl mb-2 font-medium text-right">Fecha de Comprobante emitida</div>
                <p class="text-700 line-height-3 text-right">{{lectura?.lectura}} m3.</p>
            </div>
            
        </div>
        <div class="col-12" >
            <p-tabView>
                <p-tabPanel header="Comprobante" *ngIf="lectura">
                    <div class="grid" *ngIf="lectura.pagar; else sinComprobante">
                        <div class="col-12 md:col-6">
                            <div class="text-900 text-xl mb-2 font-medium text-right">Fecha de Comprobante emitida</div>
                            <p class="text-700 line-height-3 text-right">{{lectura.pagar.created_at | date: 'dd/mm/yyyy'}}</p>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 text-xl mb-2 font-medium text-right">Monto de Pago</div>
                            <p class="text-700 line-height-3 text-right">{{lectura.pagar.monto}} {{lectura.pagar.moneda}}</p>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 text-xl mb-2 font-medium text-right">Motivo del pago</div>
                            <p class="text-700 line-height-3 text-right">{{lectura.pagar.motivo}}</p>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 text-xl mb-2 font-medium text-right">Estado del pago</div>
                            <p class="text-700 line-height-3 text-right">{{lectura.pagar.estadoComprobate}}</p>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 text-xl mb-2 font-medium text-right">Metodo de creacion del registro</div>
                            <p class="text-700 line-height-3 text-right">{{lectura.pagar.metodoRegistro}}</p>
                        </div>
                    </div>
                    <ng-template #sinComprobante>
                        <p><i>ESTA LECTURA NO TIENE UN COMPROBANTE DE PAGO</i></p>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
            <p-divider></p-divider>
        </div>
        
        
    </div>
 </p-dialog>