<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-table #dt [value]="data"    [rowHover]="true">
                <ng-template pTemplate="caption">
                    <form class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    [formGroup]="searchForm"
                    >
                        <h5 class="m-0">{{titleTable}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" inputId="termino"  placeholder="Search..." formControlName="termino" class="w-full sm:w-auto" (input)="search($event)"/>
                            <small
                                id="termino-help"
                                class="p-error block"
                                *ngIf="campoValido('termino')"
                                >{{ getTerminoErrors("termino") }}
                            </small>
                        </span>
                    </form>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th >ID</th>
                        <th>Nombre</th>
                        <th >Link de Acceso</th>
                        <th >Estado</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{customer.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Ci</span>
                            <span class="p-column-title">Nombre</span>
                            {{customer.nombre}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">linkMenu</span>
                           {{customer.linkMenu}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">ESTADO</span>
                            <span [class]="'product-badge status-' + (customer.estado ?'instock' : 'outofstock')">{{(customer.estado===1?'ACTIVO':customer.estado===0?'INACTIVO':customer.estado)}}</span>
                        </td>
                        <td  style="width:14%; min-width: 10rem;">
                            <div class="flex p-fluid">
                                <button pButton pRipple icon="pi pi-plus" label="mas info" class="p-button-rounded p-button-info mr-2"
                                (click)="dataDetail(customer.id)"
                                ></button>
                                
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 card flex justify-content-center" *ngIf="data.length>0" >
        <p-paginator (onPageChange)="onPageChange($event)" [first]="dataPaginator.offset ||0" [totalRecords]="dataPaginator.size!" [rows]="dataPaginator.limit||10" [rowsPerPageOptions]="[10, 20, 50]"></p-paginator>
    </div>
</div>