<div class="card">
    <div class="grid">
        <div class="col-12">
            <div class="col-3">
                <span class="p-float-label">
                    <!-- <p-dropdown
                    [options]="perfil.afiliado?.medidores"
                    placeholder="Seleccione un medidor"
                    optionLabel="nroMedidor"
                    inputId="float-label"
                    (onChange)="selectMedidor($event)"
                    ></p-dropdown>
                    <label for="float-label">Seleccione un medidor</label> -->
                </span>
            </div>
        </div>
        <div class="col-12"></div>
    </div>
</div>