<div class="grid">
  <form class="col-12" [formGroup]="afiliadoForm">
    <div class="card">
        <h5>
            {{ perfilActual?.afiliado?.id ? "Datos de Afiliacion Actuales" : "Asignar afiliacion al perfil" }}
          </h5>
        <p-divider></p-divider>
      <div class="grid p-fluid mt-5">
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-dropdown
              inputId="barrio"
              [autoDisplayFirst]="false"
              [options]="commonServiceApp.barriosForm"
              formControlName="barrio"
              optionLabel="name"
              optionValue="value"
              placeholder="Select Barrio"
              [ngClass]="inputValid('barrio')"
            ></p-dropdown>

            <label for="barrio">Barrio (*)</label>
          </span>
          <small
            id="barrio-help"
            class="p-error block"
            *ngIf="campoValido('barrio')"
            >{{ getAfiliadoBarrioErrors("barrio") }}
          </small>
        </div>
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <input
              type="text"
              id="numeroVivienda"
              pInputText
              formControlName="numeroVivienda"
              [ngClass]="inputValid('numeroVivienda')"
            />
            <label for="numeroVivienda">Numero de Vivienda (opcional)</label>
          </span>
          <small
            id="apellidoPrimero-help"
            class="p-error block"
            *ngIf="campoValido('numeroVivienda')"
            >{{ getAfiliadoNumeroViviendaErrors("numeroVivienda") }}
          </small>
        </div>
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-inputNumber
              inputId="montoAfiliacion"
              formControlName="montoAfiliacion"
              [minFractionDigits]="2"
              [ngClass]="inputValid('montoAfiliacion')"
            ></p-inputNumber>
            <label for="montoAfiliacion">Monto pagado de afiliación(*)</label>
          </span>
          <small
            id="montoAfiliacion-help"
            class="p-error block"
            *ngIf="campoValido('montoAfiliacion')"
            >{{ getMontoAfiliacionErrors("montoAfiliacion") }}
          </small>
        </div>
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-dropdown
              inputId="monedaAfiliacion"
              [autoDisplayFirst]="false"
              [options]="commonServiceApp.monedas"
              formControlName="monedaAfiliacion"
              optionLabel="name"
              optionValue="value"
              placeholder="Selecione Moneda del pago"
              [ngClass]="inputValid('monedaAfiliacion')"
            ></p-dropdown>

            <label for="moneda">Moneda del monto recibido (*)"</label>
          </span>
          <small
            id="monedaAfiliacion-help"
            class="p-error block"
            *ngIf="campoValido('monedaAfiliacion')"
            >{{ getMonedaAfiliacionErrors("monedaAfiliacion") }}
          </small>
        </div>
        
        <div class="col-12">
          <p-divider>Ubicación del afiliado</p-divider>
        </div>
        <div class="col-12 flex justify-content-center">
          <p-button icon="pi pi-map-marker" styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised" (onClick)="showMap=true"></p-button>
        </div>

        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input
              type="text"
              id="longitud"
              pInputText
              formControlName="longitud"
              [ngClass]="inputValid('longitud')"
            />
            <label for="longitud">Longitud</label>
          </span>
          <small
            id="longitud-help"
            class="p-error block"
            *ngIf="campoValido('longitud')"
            >{{ getAfiliadoLongitudErrors("longitud") }}
          </small>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input
              type="text"
              id="latitud"
              pInputText
              formControlName="latitud"
              [ngClass]="inputValid('latitud')"
            />
            <label for="latitud">Latitud</label>
          </span>
          <small
            id="latitud-help"
            class="p-error block"
            *ngIf="campoValido('latitud')"
            >{{ getAfiliadoLatitudErrors("latitud") }}
          </small>
        </div>
        
        <div class="field col-4 md:col-4 md:mt-3">
          <span class="p-float-label">
            <input
              type="text"
              id="manzano"
              pInputText
              formControlName="manzano"
              [ngClass]="inputValid('manzano')"
            />
            <label for="manzano">Manzano (*)</label>
          </span>
          <small
            id="manzano-help"
            class="p-error block"
            *ngIf="campoValido('manzano')"
            >{{ getAfiliadoManzanoErrors("manzano") }}
          </small>
        </div>
        <div class="field col-4 md:col-4 md:mt-3" >
          <span class="p-float-label">
            <p-inputNumber
              inputId="numeroManzano"
              formControlName="numeroManzano"
              [ngClass]="inputValid('numeroManzano')"
            ></p-inputNumber>
            <label for="numeroManzano">N° Manzano (*)</label>
          </span>
          <small
            id="numeroManzano-help"
            class="p-error block"
            *ngIf="campoValido('numeroManzano')"
            >{{ getAfiliadoNumeroManzanoErrors("numeroManzano") }}
          </small>
        </div>
        <div class="field col-4 md:col-4 md:mt-3">
          <span class="p-float-label">
            <p-inputNumber
              inputId="nroLote"
              formControlName="nroLote"
              [ngClass]="inputValid('nroLote')"
            ></p-inputNumber>
            <label for="nroLote">N° Lote (*)</label
            >
          </span>
          <small
            id="nroLote-help"
            class="p-error block"
            *ngIf="campoValido('nroLote')"
            >{{ getAfiliadoNroLoteErrors("nroLote") }}
          </small>
        </div>
        <!-- <div class="field col-12 md:col-3" *ngIf="!this.perfilActual?.afiliado">
          <span class="p-float-label">
            <p-dropdown
              inputId="estado"
              [autoDisplayFirst]="false"
              [options]="commonServiceApp.estados"
              formControlName="estado"
              optionLabel="name"
              optionValue="value"
              placeholder="Select Estado"
              [ngClass]="inputValid('estado')"
            ></p-dropdown>

            <label for="estado">estado (*)</label>
          </span>
          <small
            id="estado-help"
            class="p-error block"
            *ngIf="campoValido('estado')"
            >{{ getAfiliadoEstadoErrors("estado") }}
          </small>
        </div> -->
        <div class="col-12 md:flex md:justify-content-center">
            <button
              type="button"
              pButton
              pRipple
              class="p-button-primary"
              [label]="perfilActual?.afiliado?.id ? 'Modificar Afiliacion' : 'Asignar afiliacion'"
              [disabled]="!formValid"
              (click)="validForm()"
            ></button>
          </div>
      </div>
    </div>
  </form>
</div>

  <app-map-coord *ngIf="showMap"
  (sendLatLong)="coordenadas($event)"
  [latLong]="coordenadasLatLng"
  [buttonInsert]="true"
  [visible]="showMap"
  (closeModal)="cerrarMapa($event)"
  ></app-map-coord>
