<p-dialog
  [header]="title"
  [modal]="true"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '75vw','min-height':'50vw',margin:'10px' }"
  [baseZIndex]="750"
  [draggable]="false"
  (onHide)="close()" 
>
<p-card>
      <h5>REGISTROS DE MEDIDORES POR BARRIO:
        <p-dropdown [options]="commonAppService.barrios" optionLabel="name" optionValue="value" (onChange)="changeBarrio($event)" placeholder="Seleccione un Barrio"></p-dropdown>
      </h5>
      <p-divider></p-divider>
      <div class="card">
        <div class="m-2 flex flex-row justify-content-around flex-wrap">
            <div class="flex align-items-center justify-content-center px-3"[style]="{'width':'25%'}"><h5>{{'AFILIADOS'}}</h5></div>
            <div class="flex align-items-center justify-content-center px-3"[style]="{'width':'75%'}"><h5>{{'DETALLES DE MEDIDORES'}}</h5></div>
        </div>
        <div class="flex justify-content-end flex-wrap">
            <div class="flex justify-content-around" [style]="{'width':'75%'}">
                <div class="flex align-items-center justify-content-center font-bold">Barrio Medidor.</div>
                <div class="flex align-items-center justify-content-center font-bold">Nro Medidor.</div>
                <div class="flex align-items-center justify-content-center font-bold">Lectura Marcada</div>
                <div class="flex align-items-center justify-content-center font-bold">Estado del medidor.</div>
                <div class="flex align-items-center justify-content-center font-bold">Ultima Lectura.</div>
            </div>
        </div>
        <div *ngFor="let customer of data" class="card m-2 flex flex-row justify-content-between  flex-wrap">
            <div class="flex align-items-center justify-content-center px-3">
            <p class="fs-text">
                {{customer.nombrePrimero | titlecase}} {{customer.nombreSegundo ||"" |titlecase}} {{customer.apellidoPrimero | titlecase}} {{customer.apellidoSegundo ||"" | titlecase}}
            </p>
            </div>
            <div class="flex overflow-hidden justify-content-between" [style]="{'min-width':'75%', 'padding':'18px 0 0 0'}" *ngFor="let asc of customer.afiliado!.medidorAsociado">
                <div class="flex justify-content-start px-3"><p class="fs-text">{{asc.ubicacion?.barrio}}</p></div>
                <div class="flex justify-content-start px-3"><p class="fs-text">{{asc.medidor?.nroMedidor}}</p></div>
                <div class="flex align-items-center justify-content-center px-3" *ngIf="asc.planillas![0].lecturas[0]?.lectura; else sinLectura"><p class="fs-text">{{asc.planillas![0].lecturas[0].lectura}}</p></div>
                <ng-template #sinLectura> <div class="field flex align-items-center justify-content-center px-3">
                    <p>Sin Lectura</p>
                </div></ng-template>
                <div class="flex align-items-center justify-content-center px-3" *ngIf="asc.planillas![0].lecturas[0]?.lectura; else sinMedidor"> <p class="fs-text">{{asc.planillas![0].lecturas[0].estadoMedidor || 'SIN NOVEDAD'}}</p></div>
                <ng-template #sinMedidor> 
                    <div class="field flex align-items-center justify-content-center px-3">
                        <p></p>
                    </div>
                </ng-template>
                <div class="flex justify-content-start px-4">
                    <div class="w-full">
                        <p class="fs-text">
                            {{asc.lecturaSeguimiento}}
                        </p>
                    </div>
                </div>
                <!-- <div class="flex justify-content-start px-3">{{medidor.planillas![0].gestion}}</div> -->
                
            </div>
        </div></div>
</p-card>
</p-dialog>