<div class="grid">
    <form class="col-12" [formGroup]="usuarioForm">
      <div class="card">
          <h5>
              {{ perfilActual?.usuario?.id ? "Datos de Usuario Actuales" : "Asignar usuario de acceso al perfil" }}
            </h5>
          <p-divider></p-divider>
          <div class="grid p-fluid">
            <div class="col-12" *ngIf="perfilActual?.usuario===null"><p>El usuario y contraseña de Acceso seran entregados en el registro de usuario</p></div>
          <div class="field col-12 md:col-6">
            <span class="p-float-label">
              <input
                type="text"
                id="correo"
                pInputText
                formControlName="correo"
                [ngClass]="inputValid('correo')"
              />
              <label for="correo">Correo electronico (opcional)</label>
            </span>
            <small
              id="correo-help"
              class="p-error block"
              *ngIf="campoValido('correo')"
              >{{ getUsuarioCorreoErrors("correo") }}
            </small>
          </div>
          <div class="field col-12 md:col-3" *ngIf="!this.perfilActual?.usuario">
              <span class="p-float-label">
                <p-dropdown
                  inputId="estado"
                  [autoDisplayFirst]="false"
                  [options]="commonServiceApp.estados"
                  formControlName="estado"
                  optionLabel="name"
                  optionValue="value"
                  placeholder="Select Estado"
                  [ngClass]="inputValid('estado')"
                ></p-dropdown>
  
                <label for="estado">estado (*)</label>
              </span>
              <small
                id="estado-help"
                class="p-error block"
                *ngIf="campoValido('estado')"
                >{{ getUsuarioEstadoErrors("estado") }}
              </small>
            </div>
            <div class="col-12">
                <h5>Roles de Acceso al usuario</h5>
                <p-divider></p-divider>
                <div class="mt-3">
                    <p-table [value]="listRolesSelected" [tableStyle]="{ 'min-width': '50rem' }" *ngIf="listRolesSelected.length>0">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Code</th>
                                <th>Nombre</th>
                                <th style="width: 5rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-customer let-index>
                            <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.nombre }}</td>
                                <td>
                                    <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger p-button-rounded" (click)="deleteItemMenu(customer.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <small
                      id="roles-help"
                      class="p-error block"
                      *ngIf="campoValido('roles')"
                      >{{ getRolesErrors("roles") }}
                    </small>

                  <div [style]="{'max-width':'110px'}" class="m-3">
                    <app-roles-select-table
                    *ngIf="showTableAsignRoleModalForm"
                    [displayModalTable]="showTableAsignRoleModalForm"
                    (closeDisplayModalTable)="closeTableRoleModalForm($event)"
                    (onDataSelected)="ListItemMenuSelected($event)"
                    >
                    </app-roles-select-table>
                    <button pButton pRipple label="Modificar roles" icon="pi pi-plus" class="p-button-info p-button-rounded" (click)="showModalTableRoles()"></button>
                  </div>
                </div>
            </div>
            <div class="col-12 md:flex md:justify-content-center">
                <button
                  type="button"
                  pButton
                  pRipple
                  class="p-button-primary"
                  [label]="perfilActual?.id ? 'Modificar Usuario' : 'Asignar usuario a perfil'"
                  [disabled]="!formValid"
                  (click)="validForm()"
                ></button>
              </div>
          </div>
      </div>
    </form>
</div>
<app-usuario-created
*ngIf="usuarioCreate"
[displayModal]="usuarioCreate"
[dataSelected]="dataUser"
(onCloseDetalles)="usuarioCreate=$event"
></app-usuario-created>