<div class="grid">
    <form class="col-12" [formGroup]="medidorForm">
      <div class="card">
          <h4>Registro de Nuevo Medidor de agua</h4>
          <p-divider></p-divider>
          <div class="p-fluid grid grid mt-5">
              <div class="col-12" >
                  <h5>Datos Requeridos del Medidor de Agua Potable</h5>
                  <p-divider></p-divider>
                  <div class="grid mt-5 p-fluid">
                  <div class="field col-12 md:col-6 m-3">
                    <span class="p-float-label p-input-icon-right">
                      <input
                        type="text"
                        id="nroMedidor"
                        pInputText
                        formControlName="nroMedidor"
                        [ngClass]="inputValid('nroMedidor')"
                      />
                      <label for="nroMedidor">Numero de Registro del Medidor (*)</label>
                      <i class="pi pi-spin pi-spinner" *ngIf="medidorForm.pending"></i>
                    </span>
                    <small
                      id="nroMedidor-help"
                      class="p-error block"
                      *ngIf="campoValido('nroMedidor')"
                      >{{ getNroMedidorErrors("nroMedidor") }}
                    </small>
                  </div>
                  <div class="field col-12 md:col-6 m-3">
                    <span class="p-float-label">
                      <input
                        type="number"
                        id="lecturaInicial"
                        pInputText
                        formControlName="lecturaInicial"
                        pKeyFilter="int"
                        [ngClass]="inputValid('lecturaInicial')"
                      />
                      <label for="lecturaInicial">Lectura Inicial en la instalacion (*)</label>
                    </span>
                    <small
                      id="lecturaInicial-help"
                      class="p-error block"
                      *ngIf="campoValido('lecturaInicial')"
                      >{{ getLecturaInicialErrors("lecturaInicial") }}
                    </small>
                  </div>
                  
                  <div class="field col-12 md:col-4 m-3">
                    <span class="p-float-label">
                      <p-dropdown
                        inputId="estado"
                        [autoDisplayFirst]="false"
                        [options]="commonAppService.mediciones"
                        formControlName="medicion"
                        optionLabel="name"
                        optionValue="value"
                        placeholder="Select Medicion medidor"
                        [ngClass]="inputValid('medicion')"
                      ></p-dropdown>
          
                      <label for="medicion">Tipo de Medicion de agua (*)</label>
                    </span>
                    <small
                      id="medicion-help"
                      class="p-error block"
                      *ngIf="campoValido('medicion')"
                      >{{ getMedicionErrors("medicion") }}
                    </small>
                  </div>
                  <div class="field col-12 md:col-6 m-3">
                    <span class="p-float-label">
                      <input
                        type="text"
                        id="marca"
                        pInputText
                        formControlName="marca"
                        [ngClass]="inputValid('marca')"
                      />
                      <label for="marca">Marca del Medidor de Agua (*)</label>
                    </span>
                    <small
                      id="marca-help"
                      class="p-error block"
                      *ngIf="campoValido('marca')"
                      >{{ getMarcaErrors("marca") }}
                    </small>
                  </div>
                  <div class="field col-12 md:col-3 m-3" *ngIf="!medidorActual?.id">
                    <span class="p-float-label">
                      <p-dropdown
                        inputId="estado"
                        [autoDisplayFirst]="false"
                        [options]="commonAppService.estados"
                        formControlName="estado"
                        optionLabel="name"
                        optionValue="value"
                        placeholder="Select Estado"
                        [ngClass]="inputValid('estado')"
                      ></p-dropdown>
          
                      <label for="estado">estado (*)</label>
                    </span>
                    <small
                      id="estado-help"
                      class="p-error block"
                      *ngIf="campoValido('estado')"
                      >{{ getEstadoErrors("estado") }}
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-12 md:flex md:justify-content-center ">
                  <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-primary"
                    [label]="medidorActual?'Modificar Medidor de Agua':'Registrar Nuevo medidor'"
                    [disabled]="medidorForm.pending || !formValid"
                    (click)="validForm()"
                  ></button>
                </div>
          </div>
      </div>
    </form>
  </div>