
<div class="user-profile-container">
	<p-card class="profile-card" *ngIf="perfil">
		<div class="grid">
      <div class="col-12 text-center my-3"><h2>ASOCIACIONES DEL AFILIADO Y MEDIDORES DE AGUA</h2></div>
			<div class="col-12 md:col-4 profile-image-container">
				<img [src]="perfil.urlImage ||''" alt="Foto de perfil" class="profile-image"/>
			
			</div>
			<div class="col-12 md:col-8 profile-details">
				<div class="grid">
					<!-- DATA PERFIL-->
					 <div class="col-12">
						<div >
							<div >
								<h2 class="text-center">Datos del afiliado</h2>
							</div>
						</div>
						<div class="grid">
							<div class="col-12 md:col-6"><strong>Nombre Completo:</strong> {{ perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||'' | titlecase }} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo||'' | titlecase}}</div>
							<div class="col-12 md:col-6"><strong>Cédula de Identidad:</strong> {{ perfil.CI }}</div>
							<div class="col-12 md:col-6"><strong>N° Contacto:</strong> {{ perfil.contacto || 'No tiene contacto' }}</div>
							<div class="col-12 md:col-6"><strong>Estado del registro:</strong><p-tag [severity]="perfil.isActive?'success':'danger'" [value]="perfil.estado" class="ml-3"></p-tag></div>
						</div>
					</div>
                    <!-- DATA MEDIDORES ASOCACIODES ACTUALES-->
				</div>
			</div>
            <div class="col-12 profile-details">
                <div class="grid" *ngIf="perfil.afiliado">
                  <!-- Data asociaciones del medidor de agua-->
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loadingAsociaciones"></i>
                <div class="col-12" *ngIf="medidoresAsociados.length>0; else sinAsociaciones">
                  
                    <div class="flex justify-content-between flex-wrap title-container">
                        <div class="flex justify-content-start flex-wrap">
                            <h3>Medidores de agua asociados</h3>
                        </div>
                        <div class="flex justify-content-end flex-wrap">
                            <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-info mr-2" label="Nueva asociación" alt="Asociar medidor de agua"  (click)="showMedidoresLibresVisible=true"></p-button>
                        </div>
                    </div>
                  <ng-container *ngFor="let asc of medidoresAsociados">
                    <div class="col-12 md:ml-3">
                      <div class="flex justify-content-between flex-wrap title-container">
                        <div class="flex justify-content-start flex-wrap">
                          <h4 >N° Serie: {{asc.medidor?.nroMedidor}} {{!asc.isActive?asc.estadoMedidorAsociado :'' |titlecase}}</h4>
                        </div>
                        <div class="flex justify-content-end flex-wrap">
                          <p-button styleClass="p-button-rounded p-button-info mr-2" icon="pi pi-pencil" (onClick)="actionData('DETALLES',asc)"></p-button>
                          <p-button styleClass="p-button-rounded p-button-info mr-2 p-button-success" icon="pi pi-calendar" (onClick)="showGestiones(asc)"></p-button>
                          <p-button styleClass="p-button-rounded p-button-info mr-2 p-button-secondary" icon="pi pi-book" (onClick)="showPlanillas(asc)"></p-button>
                          <p-button styleClass="p-button-rounded p-button-info mr-2 p-button-warning" icon="pi pi-chart-bar" (onClick)="showReportLecturas(asc)"></p-button>
                        </div>
                      </div>
                      <div class="grid">
                        <div class="col-12 md:col-6 grid">
                          <div class="col-12"><strong>Estado de asociación:</strong> {{asc.estadoMedidorAsociado | titlecase}}</div>
                          <div class="col-12"><strong>Estado de Registro de asociación:</strong> <p-tag [severity]="asc.isActive?'success':'danger'" [value]="asc.estado" class="ml-3"></p-tag></div>
                          <div class="col-12"><strong>Lectura de Inicio de Asociación:</strong> {{asc.lecturaInicial}} {{asc.medidor?.medicion}}.</div>
                          <div class="col-12"><strong>Última lectura de Seguimiento registrada:</strong> {{asc.lecturaSeguimiento}} {{asc.medidor?.medicion}}.</div>
                        </div>
                        <div class="col-12 md:col-6 grid">
                          <h5 class="md:mt-2">Ubicación del medidor de agua</h5>
                          <div class="grid">
                              <div class="col-12 md:col-6"><strong>Barrio:</strong> {{asc.ubicacion?.barrio | titlecase}}</div>
                              <div class="col-12 md:col-6"><strong>N° de vivienda:</strong> {{asc.ubicacion?.numeroVivienda ||'Sin numero de vivienda'}}</div>
                              <div class="col-12 md:col-6"><strong>Mazano:</strong> {{asc.ubicacion?.manzano | titlecase}}</div>
                              <div class="col-12 md:col-6"><strong>N° de mazano:</strong> {{asc.ubicacion?.numeroManzano}}</div>
                              <div class="col-12 md:col-6"><strong>N° de Lote:</strong> {{asc.ubicacion?.nroLote}}</div>
                              <div class="col-12 md:col-6"><strong>Longitud:</strong> {{asc.ubicacion?.longitud || 'Dato no proporcionado'}}</div>
                              <div class="col-12 md:col-6"><strong>Latitud:</strong> {{asc.ubicacion?.latitud || 'Dato no proporcionado'}}</div>
                            <div class="col-12 md:col-6 flex justify-content-center"><strong>Mapa georreferencial:</strong><p-button icon="pi pi-map-marker" styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised ml-4" (onClick)="mostrarMapAfiliado(asc)" [disabled]="!asc.ubicacion?.longitud && !asc.ubicacion?.latitud"></p-button></div>
                          </div>

                        </div>
                    </div>
                    </div>
                  </ng-container>
                  
                </div>
                <ng-template #sinAsociaciones>
                  <div class="col-12">
                    <p class="font-italic" *ngIf="!loadingAsociaciones">*El afiliado no tiene ninguna asociacion vinculada</p>
        
                  </div>
                </ng-template>
                
                </div>
              </div>
        </div>
    </p-card>
</div>

<app-gestion-planillas
*ngIf="planillaVisible"
[visible]="planillaVisible"
[medidor]="medidorAsociadoSelected!"
(closePlanilla)="cerrarPlanillas($event)"
></app-gestion-planillas>
<app-asociar-medidor
*ngIf="asociaFormVisible"
[visible]="asociaFormVisible"
[showFormAsc]="formAsociar"
[asociacionSelect]="medidorAsociadoSelected"
[medidorSelect]="medidorSelect"
[perfilSelect]="perfil"
(sendVisible)=" resetVisible($event)"
></app-asociar-medidor>
<app-medidores-libres-select-table
*ngIf="showMedidoresLibresVisible"
[displayModalTable]="showMedidoresLibresVisible"
(onDataSelected)="medidorSelectedOpt($event)"
(closeDisplayModalTable)="showMedidoresLibresVisible = $event"
></app-medidores-libres-select-table>
<app-gestiones
*ngIf="gestionesVisible"
[visible]="gestionesVisible"
[idAsociacion]="medidorAsociadoSelected!.id!"
(closePlanilla)="gestionesVisible = $event"
></app-gestiones>

<app-report-lecturas
*ngIf="visibleReportLecturas"
[visible]="visibleReportLecturas"
[medidor]="medidorAsociadoSelected!"
(closePlanilla)="visibleReportLecturas = $event"
></app-report-lecturas>


<app-map-afiliado
*ngIf="visibleMapAsociacionMedidor"
[visible]="visibleMapAsociacionMedidor"
[defaultCenter]="coordenadasLatLngDetails"
(eventVisible)="visibleMapAsociacionMedidor =$event"
></app-map-afiliado>