
<div class="user-profile-container">
	<p-card class="profile-card" *ngIf="perfil">
		<div class="grid">
      <div class="col-12 text-center my-3"><h2>ASOCIACIONES DEL AFILIADO Y MEDIDORES DE AGUA</h2></div>
			<div class="col-12 md:col-4 profile-image-container">
				<img [src]="perfil.urlImage ||''" alt="Foto de perfil" class="profile-image"/>
			
			</div>
			<div class="col-12 md:col-8 profile-details">
				<div class="grid">
					<!-- DATA PERFIL-->
					 <div class="col-12">
						<div >
							<div >
								<h2 class="text-center">Datos del afiliado</h2>
							</div>
						</div>
						<div class="grid">
							<div class="col-12 md:col-6"><strong>Nombre Completo:</strong> {{ perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||'' | titlecase }} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo||'' | titlecase}}</div>
							<div class="col-12 md:col-6"><strong>Cédula de Identidad:</strong> {{ perfil.CI }}</div>
							<div class="col-12 md:col-6"><strong>N° Contacto:</strong> {{ perfil.contacto || 'No tiene contacto' }}</div>
							<div class="col-12 md:col-6"><strong>Estado del registro:</strong><p-tag [severity]="perfil.isActive?'success':'danger'" [value]="perfil.estado" class="ml-3"></p-tag></div>
						</div>
					</div>
                    <!-- DATA MEDIDORES ASOCACIODES ACTUALES-->
				</div>
			</div>
            <div class="col-12 profile-details">
                <div class="grid" *ngIf="perfil.afiliado">
                  <!-- Data asociaciones del medidor de agua-->
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loadingAsociaciones"></i>
                <div class="col-12" *ngIf="medidoresAsociados.length>0; else sinAsociaciones">
                  
                    <div class="flex justify-content-between flex-wrap title-container">
                        <div class="flex justify-content-start flex-wrap">
                            <h3>Medidores de agua asociados</h3>
                        </div>
                        <div class="flex justify-content-end flex-wrap">
                            <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-info mr-2" label="Nueva asociación" alt="Asociar medidor de agua"  (click)="showMedidoresLibresVisible=true"></p-button>
                        </div>
                    </div>
                  <ng-container *ngFor="let asc of medidoresAsociados">
                    <div class="col-12 md:ml-3">
                      <div class="flex justify-content-between flex-wrap title-container">
                        <div class="flex justify-content-start flex-wrap">
                          <h4 >N° Serie: {{asc.medidor?.nroMedidor}} {{!asc.isActive?asc.estadoMedidorAsociado :'' |titlecase}}</h4>
                        </div>
                        <div class="flex justify-content-end flex-wrap">
                          <p-button  *ngIf="asc.isActive" styleClass="p-button-rounded mr-2" icon="pi pi-pencil" (onClick)="actionData('DETALLES',asc)"></p-button>
                          <p-button styleClass="p-button-rounded p-button-warning mr-2" icon="pi pi-mobile" (onClick)="showMultas(asc)"></p-button>
                          <p-button styleClass="p-button-rounded mr-2 p-button-success" icon="pi pi-calendar" (onClick)="showGestiones(asc)"></p-button>
                          <p-button styleClass="p-button-rounded mr-2 p-button-help" icon="pi pi-folder-open" (onClick)="showHistorialLectura(asc)"></p-button>
                          <p-button styleClass="p-button-rounded mr-2 p-button-secondary" icon="pi pi-book" (onClick)="showPlanillas(asc)"></p-button>
                          <p-button styleClass="p-button-rounded mr-2 p-button-warning" icon="pi pi-chart-bar" (onClick)="showReportLecturas(asc)"></p-button>
                        </div>
                      </div>
                      <div class="grid">
                        <div class="col-12 md:col-6 grid">
                          <div class="col-12"><strong>Estado de asociación:</strong> {{asc.estadoMedidorAsociado | titlecase}}</div>
                          <div class="col-12"><strong>Estado de Registro de asociación:</strong> <p-tag [severity]="asc.isActive?'success':'danger'" [value]="asc.estado" class="ml-3"></p-tag></div>
                          <div class="col-12"><strong>Lectura de Inicio de Asociación:</strong> {{asc.lecturaInicial}} {{asc.medidor?.medicion}}.</div>
                          <div class="col-12"><strong>Última lectura de Seguimiento registrada:</strong> {{asc.lecturaSeguimiento}} {{asc.medidor?.medicion}}.</div>
                          <ng-container *ngIf="asc.isActive">
                            <ng-container *ngIf="asc.estadoMedidorAsociado === 'CONECTADO';else desconectado">
                              <div class="col-12" *ngIf="!asc.corte;else cancelar"><strong>Solicitud de corte de servicio:</strong>
                                <div class="mt-2">
                                  <p-button label="Solicitud de corte" styleClass="p-button-rounded" (onClick)="abrirSolicitudCorte(asc)"></p-button>
                                </div>
                              </div>
                              <ng-template #cancelar>
                                <div class="col-12"><strong>Retirar solicitud de corte:</strong>
                                  <div class="mt-2">
                                    <p-button label="Cancelar solicitud de corte" styleClass="p-button-rounded" (onClick)="cancelarSolicitudCorte(asc)"></p-button>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-container>
                            <ng-template #desconectado>
                              <div class="col-12" *ngIf="!asc.reconexion;else cancelarReconeccion"><strong>Solicitud de reconexión de servicio:</strong>
                                <div class="mt-2">
                                  <p-button label="Solicitar reconexión" styleClass="p-button-rounded" (onClick)="abrirSolicitudReconexion(asc)" ></p-button>
                                </div>
                              </div>
                              <ng-template #cancelarReconeccion>
                                <div class="col-12" ><strong>Cancelar solicitud de reconexión:</strong>
                                  <div> class="mt-2"

                                    <p-button label="Cancelar" styleClass="p-button-rounded" (onClick)="cancelarSolicitudReconexion(asc)"></p-button>
                                  </div>
                                </div>
                              </ng-template>
                              
                            </ng-template>
                          </ng-container>
                          
                          
                        </div>
                        <div class="col-12 md:col-6 grid">
                          <h5 class="md:mt-2">Ubicación del medidor de agua</h5>
                          <div class="grid">
                              <div class="col-12 md:col-6"><strong>Barrio:</strong> {{asc.ubicacion?.barrio | titlecase}}</div>
                              <div class="col-12 md:col-6"><strong>N° de vivienda:</strong> {{asc.ubicacion?.numeroVivienda ||'Sin numero de vivienda'}}</div>
                              <div class="col-12 md:col-6"><strong>Mazano:</strong> {{asc.ubicacion?.manzano | titlecase}}</div>
                              <div class="col-12 md:col-6"><strong>N° de mazano:</strong> {{asc.ubicacion?.numeroManzano}}</div>
                              <div class="col-12 md:col-6"><strong>N° de Lote:</strong> {{asc.ubicacion?.nroLote}}</div>
                              <div class="col-12 md:col-6"><strong>Longitud:</strong> {{asc.ubicacion?.longitud || 'Dato no proporcionado'}}</div>
                              <div class="col-12 md:col-6"><strong>Latitud:</strong> {{asc.ubicacion?.latitud || 'Dato no proporcionado'}}</div>
                            <div class="col-12 md:col-6 flex justify-content-center"><strong>Mapa georreferencial:</strong><p-button icon="pi pi-map-marker" styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised ml-4" (onClick)="mostrarMapAfiliado(asc)" [disabled]="!asc.ubicacion?.longitud && !asc.ubicacion?.latitud"></p-button></div>
                          </div>

                        </div>
                    </div>
                    </div>
                  </ng-container>
                  
                </div>
                <ng-template #sinAsociaciones>
                  <div class="col-12">
                    <p class="font-italic" *ngIf="!loadingAsociaciones">*El afiliado no tiene ninguna asociacion vinculada</p>
        
                  </div>
                </ng-template>
                
                </div>
              </div>
        </div>
    </p-card>
</div>
<p-dialog [header]="titleSolicitud" [(visible)]="visibleFormCorte" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [baseZIndex]="900">
 
  <div class="card">
    <form  class="grid mt-5 flex justify-content-center" [formGroup]="formCorte">
      <div class="field col-12 md:col-6 ">
        <span class="p-float-label p-input-icon-right">
          <textarea
            id="motivo"
            rows="5"
            cols="30"
            pInputTextarea 
            formControlName="motivo"
            [ngClass]="inputValid('motivo')"
          ></textarea>
          <label for="motivo">Motivo de la solicitud (*)</label>
        </span>
        <small
          id="motivo-help"
          class="p-error block"
          *ngIf="campoValido('motivo')"
          >{{ getMotivoErrors("motivo") }}
        </small>
      </div>
      <ng-container *ngIf="medidorAsociadoSelected?.estadoMedidorAsociado === 'CONECTADO';else desconectado">
        <div class="col-12 flex justify-content-center">
          <p-button label="Registrar solicitud de corte" styleClass="p-button-raised p-button-success" (onClick)="confirmarSolicitarCorte()"></p-button>
        </div>
      </ng-container>
      <ng-template #desconectado>
        <div class="col-12 flex justify-content-center">
          <p-button label="Registrar solicitud de reconexión" styleClass="p-button-raised p-button-success" (onClick)="confirmarSolicitarReconexion()"></p-button>
        </div>
      </ng-template>
    </form>
  </div>
</p-dialog>
<app-gestion-planillas
*ngIf="planillaVisible"
[visible]="planillaVisible"
[medidor]="medidorAsociadoSelected!"
(closePlanilla)="cerrarPlanillas($event)"
></app-gestion-planillas>
<app-asociar-medidor
*ngIf="asociaFormVisible"
[visible]="asociaFormVisible"
[showFormAsc]="formAsociar"
[asociacionSelect]="medidorAsociadoSelected"
[medidorSelect]="medidorSelect"
[perfilSelect]="perfil"
(sendVisible)=" resetVisible($event)"
></app-asociar-medidor>
<app-medidores-libres-select-table
*ngIf="showMedidoresLibresVisible"
[displayModalTable]="showMedidoresLibresVisible"
(onDataSelected)="medidorSelectedOpt($event)"
(closeDisplayModalTable)="showMedidoresLibresVisible = $event"
></app-medidores-libres-select-table>
<app-gestiones
*ngIf="gestionesVisible"
[visible]="gestionesVisible"
[idAsociacion]="medidorAsociadoSelected!.id!"
(closePlanilla)="gestionesVisible = $event"
></app-gestiones>

<app-report-lecturas
*ngIf="visibleReportLecturas"
[visible]="visibleReportLecturas"
[medidor]="medidorAsociadoSelected!"
(closePlanilla)="visibleReportLecturas = $event"
></app-report-lecturas>


<app-map-afiliado
*ngIf="visibleMapAsociacionMedidor"
[visible]="visibleMapAsociacionMedidor"
[defaultCenter]="coordenadasLatLngDetails"
(eventVisible)="visibleMapAsociacionMedidor =$event"
></app-map-afiliado>
<app-historial-cortes
*ngIf="visibleHistorialCortes"
[visible]="visibleHistorialCortes"
(eventVisible)="visibleHistorialCortes = $event"
[idAsociacion]="medidorAsociadoSelected!.id!"
></app-historial-cortes>
<app-multas-asociacion
*ngIf="visibleMultas"
[visible]="visibleMultas"
(eventVisible)="visibleMultas = $event"
[idAsociacion]="medidorAsociadoSelected!.id!"
></app-multas-asociacion>