<p-dialog [style]="{'width':'75vw'}" 
[modal]="true" 
[(visible)]="visible" 
header="Detalles de Coste de afiliacion a la Asociación"
[resizable]="true"
(onHide)="eventVisible.emit(false)"
[closable]="true"
>
<ng-container *ngIf="afiliado">
<div class="grid card" *ngIf="!visibleUpdatePagoForm; else formUpdatePago">
    <h4 class="col-12">PAGO DE AFILIACION</h4>
    <div class="col-12 md:col-6">
        <div class="text-900 text-xl mb-2 font-medium text-right">Monto de pago por la afiliacion</div>
        <p class="text-700 line-height-3 text-right">{{afiliado.monto | currency: afiliado.moneda+'. '}}</p>
    </div>
    <div class="col-12 md:col-6">
        <div class="text-900 text-xl mb-2 font-medium text-right">Estado de pago</div>
        <div class="flex flex-wrap flex-row-reverse">
            <p-tag [severity]="afiliado.pagado?'success':'danger'" [value]="afiliado.pagado ?'PAGADO':'NO PAGADO'"></p-tag>
        </div>
    </div>
    <ng-container *ngIf="afiliado.pagado">
      <div class="col-12 md:col-6">
        <div class="text-900 text-xl mb-2 font-medium text-right">Monto de pago Recibido</div>
        <div class="flex flex-wrap flex-row-reverse">
          <p class="text-700 line-height-3 text-right">{{afiliado.montoRecibido | currency: afiliado.monedaRecibido+'. '}}</p>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="text-900 text-xl mb-2 font-medium text-right">Metodo de Pago realizado</div>
        <div class="flex flex-wrap flex-row-reverse">
          <p class="text-700 line-height-3 text-right">{{afiliado.metodoPago}}</p>
        </div>
      </div>
      <ng-container *ngIf="afiliado.metodoPago === 'DEPOSITO'">
        <div class="col-12 md:col-6">
          <div class="text-900 text-xl mb-2 font-medium text-right">Entidad de pago</div>
          <div class="flex flex-wrap flex-row-reverse">
            <p class="text-700 line-height-3 text-right">{{afiliado.entidad}}</p>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="text-900 text-xl mb-2 font-medium text-right">N° de cuenta</div>
          <div class="flex flex-wrap flex-row-reverse">
            <p class="text-700 line-height-3 text-right">{{afiliado.nroCuenta}}</p>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="text-900 text-xl mb-2 font-medium text-right">N° de Recibo</div>
          <div class="flex flex-wrap flex-row-reverse">
            <p class="text-700 line-height-3 text-right">{{afiliado.nroRecibo}}</p>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="text-900 text-xl mb-2 font-medium text-right">Remitente</div>
          <div class="flex flex-wrap flex-row-reverse">
            <p class="text-700 line-height-3 text-right">{{afiliado.remitente}}</p>
          </div>
        </div>
      </ng-container>
      <div class="col-12 md:col-6">
        <div class="text-900 text-xl mb-2 font-medium text-right">Fecha de pago realizada</div>
        <p class="text-700 line-height-3 text-right">{{afiliado.fechaPago | date :'HH:MM dd/MM/yyyy'}}</p>
    </div>
    </ng-container>
    <ng-container *ngIf="visiblePagarForm">
        <form class="grid mt-5 col-12" [formGroup]="formPago">
            <div class="col-12 mb-3"><h4 class="text-center">FORMULARIO DE REGISTRO DE PAGO DE AFILIACION</h4></div>
            <label for="">Seleccione el Metodo de pago</label>
            <div class="col-12 flex flex-wrawp gap-3 mb-3">
                <div class="flex align-items-center">
                    <p-radioButton  name="metodoPago" inputId="presencial" value="PRESENCIAL" formControlName="metodoPago" ></p-radioButton >
                <label for="presencial">Presencial</label></div>
                <div class="flex align-items-center">
                    <p-radioButton  name="metodoPago" inputId="deposito" value="DEPOSITO" formControlName="metodoPago"></p-radioButton>
                <label for="deposito">Deposito</label></div>
            </div>
            <div class="p-fluid p-formgrid grid mt-5 col-12" [ngSwitch]="formPago.get('metodoPago')?.value">
              <ng-container *ngSwitchCase="'PRESENCIAL'">
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-inputNumber
                       [formControlName]="'montoRecibido'"
                       inputId="montoRecibido"
                       [minFractionDigits]="2"
                       [showButtons]="false"
                      [ngClass]="inputValid('montoRecibido')"
                    ></p-inputNumber>
                    <label for="montoRecibido">Monto recibido (*)</label>
                  </span>
                  <small
                    id="montoRecibido-help"
                    class="p-error block"
                    *ngIf="campoValido('montoRecibido')"
                    >{{ getMontoRecibidoErrors("montoRecibido") }}
                  </small>
                </div>
                <div class="field col-12 md:col-3">
                  <span class="p-float-label">
                    <p-dropdown
                      inputId="monedaRecibido"
                      [options]="commonAppService.monedas"
                      formControlName="monedaRecibido"
                      optionLabel="name"
                      optionValue="value"
                      placeholder="Moneda de pago recibida"
                      [ngClass]="inputValid('monedaRecibido')"
                    ></p-dropdown>
        
                    <label for="monedaRecibido">moneda recibida(*)</label>
                  </span>
                  <small
                    id="monedaRecibido-help"
                    class="p-error block"
                    *ngIf="campoValido('monedaRecibido')"
                    >{{ getMonedaRecibidoErrors("monedaRecibido") }}
                  </small>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'DEPOSITO'">
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-inputNumber
                      inputId="montoRecibido"
                      formControlName="montoRecibido"
                      
                      [minFractionDigits]="2"
                      [showButtons]="false"
                      [ngClass]="inputValid('montoRecibido')"
                    ></p-inputNumber>
                    <label for="montoRecibido">Monto recibido (*)</label>
                  </span>
                  <small
                    id="montoRecibido-help"
                    class="p-error block"
                    *ngIf="campoValido('montoRecibido')"
                    >{{ getMontoRecibidoErrors("montoRecibido") }}
                  </small>
                </div>
                <div class="field col-12 md:col-3">
                  <span class="p-float-label">
                    <p-dropdown
                      inputId="monedaRecibido"
                      [options]="commonAppService.monedas"
                      formControlName="monedaRecibido"
                      optionLabel="name"
                      optionValue="value"
                      placeholder="Moneda de pago recibida"
                      [ngClass]="inputValid('monedaRecibido')"
                    ></p-dropdown>
        
                    <label for="monedaRecibido">moneda recibida(*)</label>
                  </span>
                  <small
                    id="monedaRecibido-help"
                    class="p-error block"
                    *ngIf="campoValido('monedaRecibido')"
                    >{{ getMonedaRecibidoErrors("monedaRecibido") }}
                  </small>
                </div>
              <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="entidad"
                      pInputText
                      formControlName="entidad"
                      [ngClass]="inputValid('entidad')"
                    />
                    <label for="entidad">Entidad Bancaria depositada (*)</label>
                  </span>
                  <small
                    id="entidad-help"
                    class="p-error block"
                    *ngIf="campoValido('entidad')"
                    >{{ getEntidadErrors("entidad") }}
                  </small>
                </div>
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="nroCuenta"
                      pInputText
                      formControlName="nroCuenta"
                      [ngClass]="inputValid('nroCuenta')"
                    />
                    <label for="nroCuenta">N° de cuenta (*)</label>
                  </span>
                  <small
                    id="nroCuenta-help"
                    class="p-error block"
                    *ngIf="campoValido('nroCuenta')"
                    >{{ getNroCuentaErrors("nroCuenta") }}
                  </small>
                </div>
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="nroRecibo"
                      pInputText
                      formControlName="nroRecibo"
                      [ngClass]="inputValid('nroRecibo')"
                    />
                    <label for="nroRecibo">N° de Recibo (*)</label>
                  </span>
                  <small
                    id="nroRecibo-help"
                    class="p-error block"
                    *ngIf="campoValido('nroRecibo')"
                    >{{ getNroReciboErrors("nroRecibo") }}
                  </small>
                </div>
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      type="text"
                      id="remitente"
                      pInputText
                      formControlName="remitente"
                      [ngClass]="inputValid('remitente')"
                    />
                    <label for="remitente">Remitente (*)</label>
                  </span>
                  <small
                    id="remitente-help"
                    class="p-error block"
                    *ngIf="campoValido('remitente')"
                    >{{ getRemitenteErrors("remitente") }}
                  </small>
                </div>
              </ng-container>
              <div class="col-6 col-offset-3">
  
                <p-button 
                label="Registrar pago" 
                (onClick)="validForm()"
                styleClass="w-full">
              </p-button>
            </div>
            </div>
          </form>
    </ng-container>
  </div>
  <ng-template #formUpdatePago>
      <form [formGroup]="updatePagoForm" class="grid mt-5 card">
        <div class="col-12">
          <h4 class="text-center">Formulario para Actualizar precio de afiliacion</h4>
        </div>
        <div class="col-12 md:col-8 md:col-offset-2 mb-4">
          <p class="text-center">* Cuando el pago de afiliacion se realize, ya no se podra modificar el monto</p>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <p-inputNumber
              inputId="monto"
              formControlName="monto"
              [ngClass]="inputValidUpdatePago('monto')"
            ></p-inputNumber>
            <label for="monto">monto (*)</label>
          </span>
          <small
            id="monto-help"
            class="p-error block"
            *ngIf="campoValidoUpdatePago('monto')"
            >{{ getMontoErrors("monto") }}
          </small>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <p-dropdown
              inputId="moneda"
              [options]="commonAppService.monedas"
              formControlName="moneda"
              optionLabel="name"
              optionValue="value"
              placeholder="Moneda de Pago"
              [ngClass]="inputValidUpdatePago('moneda')"
            ></p-dropdown>
            <label for="moneda">moneda (*)</label>
          </span>
          <small
            id="moneda-help"
            class="p-error block"
            *ngIf="campoValidoUpdatePago('moneda')"
            >{{ getMonedaErrors("moneda") }}
          </small>
        </div>
        <div class="col-6 col-offset-3">
  
          <p-button 
          label="Actualizar pago" 
          (onClick)="validFormUpdate()"
          [disabled]="updatePagoForm.invalid || !formValidUpdate"
          styleClass="w-full">
        </p-button>
      </div>

      </form>
    
  </ng-template>
  
</ng-container>
<ng-template pTemplate="footer">
  <div class="flex flex-wrap col-offset-2" *ngIf="!afiliado?.pagado;else pagadoButtons">
    <p-button label="Registrar pago de afiliacion" styleClass="p-button-success" *ngIf="!afiliado?.pagado&& !visiblePagarForm && visibleUpdatePagoForm === false; else closeRegistrar" (onClick)="mostrarForm()"></p-button>
    <ng-template #closeRegistrar>
      <p-button label="Cancelar registro" styleClass="p-button-secondary"  (onClick)="visiblePagarForm=false" *ngIf="visibleUpdatePagoForm === false && !afiliado?.pagado"></p-button>
    </ng-template>
    <p-button label="Modificar monto de pago de afiliacion" *ngIf="!afiliado?.pagado && visiblePagarForm=== false && !visibleUpdatePagoForm; else botonCerrarUpdateForm"  styleClass="p-button-warning"  (onClick)="mostrarFormUpdate()"></p-button>
    <ng-template #botonCerrarUpdateForm>
      <p-button *ngIf="visibleUpdatePagoForm" label="Cerrar formulario" styleClass="p-button-secondary" (onClick)="visibleUpdatePagoForm = false"></p-button>
    </ng-template>
  </div>
  <ng-template #pagadoButtons>
    <div class="flex flex-wrap  md:col-offset-5">
      <p-button label="Cerrar ventana" styleClass="p-button-secondary"  (onClick)="visible=false"></p-button>
   
    </div>
  </ng-template>
</ng-template>

</p-dialog>

<p-dialog [style]="{'width':'50vw'}" 
[modal]="true" 
[(visible)]="visibleDialogReport" 
header="Ventana de reportes"
[resizable]="true"
[closable]="true"
>
<div class="grid mt-5">
  <div class="col-12">
    <h5>Recibo de pago</h5>
  </div>
  <div class="col-12 md:col-6">
    <div class="text-900 text-xl mb-2 font-medium text-right">Monto de pago por la afiliacion</div>
    <p class="text-700 line-height-3 text-right">{{afiliado.montoRecibido | currency: afiliado.monedaRecibido+'. '}}</p>
  </div>
  <div class="col-12 md:col-6">
    <div class="text-900 text-xl mb-2 font-medium text-right">Metodo de pago</div>
    <p class="text-700 line-height-3 text-right">{{afiliado.metodoPago }}</p>
  </div>
</div>
<ng-template pTemplate="footer">
  <p-button label="Generar recibo de pago" (onClick)="generarRecibo()"></p-button>
  <p-button label="Cerrar ventana" (onClick)="cerrarVentana()"></p-button>
</ng-template>
</p-dialog>