<div class="grid">
    <div class="col-12" *ngIf="perfil">
        <div class="card">
            <h5>Detalles de Perfil</h5>
            <div class="p-fluid p-formgrid grid" >
                <div class="md:col-offset-3 col-12 md:col-6 flex justify-content-center">
                    <img src="../../../../assets/img/default_client.jpg" class="" alt="User profile" [style]="{'max-width':'248px'}">
                </div>
				<div class="field col-12 md:col-6">
					<label htmlFor="nombrePrimero">Primer Nombre</label>
					<input pInputText id="nombrePrimero" type="text" [disabled]="true" [value]="perfil.nombrePrimero | uppercase" class="appearance-none text-color text-base" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="nombreSegundo">Segundo Nombre</label>
					<input pInputText id="nombreSegundo" type="text" [disabled]="true" [value]="perfil.nombreSegundo ||'' | uppercase " class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="apellidoPrimero">Primer Apellido</label>
					<input pInputText id="apellidoPrimero" type="text" [disabled]="true" [value]="perfil.apellidoPrimero | uppercase" class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="apellidoSegundo">Segundo Apellido</label>
					<input pInputText type="text"[disabled]="true" id="apellidoSegundo" [value]="perfil.apellidoSegundo ||'' | uppercase " class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="CI">Cedula de Identidad</label>
					<input pInputText type="text"[disabled]="true" id="CI" [value]="perfil.CI" class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="genero">Genero</label>
					<input pInputText type="text"[disabled]="true" id="genero" [value]="perfil.genero | uppercase" class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="fechaNacimiento">Fecha de Nacimiento</label>
					<input pInputText type="text"[disabled]="true" id="fechaNacimiento" [value]='perfil.fechaNacimiento | date: "dd/MM/yyyy"' class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="profesion">Profesion</label>
					<input pInputText type="text"[disabled]="true" id="profesion" [value]="perfil.profesion | uppercase" class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="tipoPerfil">Tipo de Perfil</label>
					<input pInputText type="text"[disabled]="true" id="tipoPerfil" [value]="perfil.tipoPerfil?.toString()" class="appearance-none text-color text-base"/>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="tipoPerfil">Estado</label>
					<input pInputText type="text"[disabled]="true" id="estado" [value]="perfil.estado" class="appearance-none text-color text-base"/>
					
					<p-tag icon="pi pi-exclamation-triangle" severity="danger" value="danger" value="ESTE PERFIL ESTA DESHABILITADO" class="mt-2" *ngIf=" perfil.isActive === false"></p-tag>
				</div>
			</div>
        </div>
		<div class="card" *ngIf="perfil.afiliado">
			<h5>Afiliacion</h5>
			<div class="p-fluid p-formgrid grid">

				<div class="field col-12 md:col-6">
					<label htmlFor="nombrePrimero">Barrio</label>
					<input pInputText id="nombrePrimero" type="text" [disabled]="true" [value]="perfil.afiliado.ubicacion?.barrio || ''" class="appearance-none text-color text-base" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="nombrePrimero">Numero de vivienda</label>
					<input pInputText id="nombrePrimero" type="text" [disabled]="true" [value]="perfil.afiliado.ubicacion?.numeroVivienda || 'SIN NUMERO DE VIVIENDA'" class="appearance-none text-color text-base" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="nombrePrimero">Estado de afiliacion</label>
					<input pInputText id="nombrePrimero" type="text" [disabled]="true" [value]="perfil.afiliado.estado || ''" class="appearance-none text-color text-base" />
				</div>
				<p>LOCALIZACION EN CONSTRUCCION</p>
			</div>
			<h5>Opciones</h5>
			<div class="grid p-fluid md:justify-content-center">
				<div class="col-12 md:col-3 md:flex md:justify-content-center">
					<button pButton pRipple label="Modificar Datos" class="p-button-success" (click)="actionDataAfiliado('MODIFICAR')"></button>
				</div>
				<div class="col-12 md:col-3 md:flex md:justify-content-center" *ngIf="perfil.afiliado.isActive; else inhabilitado">
					<button pButton pRipple label="Deshabilitar" class="p-button-warning" (click)="actionDataAfiliado('DESHABILITAR')"></button>
				</div>
				<ng-template #inhabilitado>
					<div class="col-12 md:col-3 md:flex md:justify-content-center">
						<button pButton pRipple label="Habilitar" class="p-button-info" (click)="actionDataAfiliado('HABILITAR')"></button>
					</div>
				</ng-template>
			</div>
		</div>
		<div class="card" *ngIf="perfil.usuario">
			<h5>Informacion de Acceso al sistema</h5>
			<div class="p-fluid p-formgrid grid">

				<div class="field col-12 md:col-6">
					<label htmlFor="nombrePrimero">Username</label>
					<input pInputText id="nombrePrimero" type="text" [disabled]="true" [value]="perfil.usuario.username || ''" class="appearance-none text-color text-base" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="nombrePrimero">correo electronico</label>
					<input pInputText id="nombrePrimero" type="text" [disabled]="true" [value]="perfil.usuario.correo || ' SIN CORREO ELECTRONICO'" class="appearance-none text-color text-base" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="nombrePrimero">Estado de la cuenta</label>
					<input pInputText id="nombrePrimero" type="text" [disabled]="true" [value]="perfil.usuario.estado || ''" class="appearance-none text-color text-base" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="roles">Roles</label>
					<input pInputText id="roles" type="text" [disabled]="true" [value]="perfil.usuario.roles?.toString() || 'SIN ROLES'" class="appearance-none text-color text-base" />
				</div>
			</div>
			<h5>Opciones</h5>
			<div class="grid p-fluid md:justify-content-center">
				<div class="col-12 md:col-3 md:flex md:justify-content-center">
					<button pButton pRipple label="Modificar Datos" class="p-button-success" (click)="actionDataUsuario('MODIFICAR')"></button>
				</div>
				<div class="col-12 md:col-3 md:flex md:justify-content-center" *ngIf="perfil.usuario.isActive; else inhabilitado">
					<button pButton pRipple label="Deshabilitar" class="p-button-warning" (click)="actionDataUsuario('DESHABILITAR')"></button>
				</div>
				<ng-template #inhabilitado>
					<div class="col-12 md:col-3 md:flex md:justify-content-center">
						<button pButton pRipple label="Habilitar" class="p-button-info" (click)="actionDataUsuario('HABILITAR')"></button>
					</div>
				</ng-template>
			</div>
		</div>
		<div class="card">
			<h5>Opciones de Perfil</h5>
			<div class="grid p-fluid md:justify-content-center" *ngIf="perfil">
				<div class="col-12 md:col-3 md:flex md:justify-content-center">
					<button pButton pRipple label="Modificar Perfil de usuario" class="p-button-success" (click)="actionData('MODIFICAR')"></button>
				</div>
				<div class="col-12 md:col-3 md:flex md:justify-content-center" *ngIf="perfil.isActive; else inhabilitado">
					<button pButton pRipple label="Deshabilitar perfil de usuario" class="p-button-warning" (click)="actionData('DESHABILITAR')"></button>
				</div>
				<div class="col-12 md:col-3 md:flex md:justify-content-center" *ngIf="perfil.afiliado===null;">
					<button pButton pRipple label="Añadir afiliacion" class="p-button-secondary" (click)="actionData('AFILIADO')"></button>
				</div>
				<div class="col-12 md:col-3 md:flex md:justify-content-center" *ngIf="perfil.usuario===null;">
					<button pButton pRipple label="añadir cuenta de usuario" class="p-button-help" (click)="actionData('USUARIO')"></button>
				</div>
				<ng-template #inhabilitado>
					<div class="col-12 md:col-3 md:flex md:justify-content-center">
						<button pButton pRipple label="Habilitar perfil de usuario" class="p-button-info" (click)="actionData('HABILITAR')"></button>
					</div>
				</ng-template>
			</div>
		</div>
    </div>
</div>