<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Datos de Item Menu</h5>
            <p-divider></p-divider>
            <div class="grid p-fluid md:flex md:justify-content-center" *ngIf="itemMenu">
                <div class="field col-12 ">
                    <label htmlFor="nombre">Nombe de Item</label>
                    <input pInputText id="nombre" type="text" [disabled]="true" [value]="itemMenu.nombre" class="appearance-none text-color text-base" />
                </div>
                <div class="field col-12 ">
                    <label htmlFor="linkMenu">Link de Acceso</label>
                    <input pInputText id="linkMenu" type="text" [disabled]="true" [value]="itemMenu.linkMenu" class="appearance-none text-color text-base" />
                </div>
                <div class="field col-12 ">
                    <label htmlFor="estado">Estado</label>
                    <input pInputText id="estado" type="text" [disabled]="true" [value]="itemMenu.estado?'ACTIVO':'INACTIVO'" class="appearance-none text-color text-base" />
                </div>
            </div>
        </div>
        <div class="card">
            <h5>Opciones</h5>
			<div class="grid p-fluid md:justify-content-center" *ngIf="itemMenu">
				<div class="col-12 md:col-3 md:flex md:justify-content-center">
					<button pButton pRipple label="Modificar" class="p-button-success" (click)="actionData('MODIFICAR')"></button>
				</div>
				<div class="col-12 md:col-3 md:flex md:justify-content-center" *ngIf="itemMenu.estado; else inhabilitado">
					<button pButton pRipple label="Deshabilitar" class="p-button-warning" (click)="actionData('DESHABILITAR')"></button>
				</div>
				<ng-template #inhabilitado>
					<div class="col-12 md:col-3 md:flex md:justify-content-center">
						<button pButton pRipple label="Habilitar" class="p-button-info" (click)="actionData('HABILITAR')"></button>
					</div>
				</ng-template>
				
			</div>
        </div>
    </div>
</div>