<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Registrar nuevo perfil" icon="pi pi-plus" class="p-button-success mr-2" (click)="registerNewPerfil()" ></button>
                        <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="pdfGeneratorVisible=true" [disabled]="this.data.length===0"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt 
            dataKey="id"
            [value]="data"
            [rowHover]="true" 
            [paginator]="true"
            [rows]="10"
            [lazy]="true" 
            (onLazyLoad)="loadCustomers($event)"
            [totalRecords]="dataPaginator.size||0"
            [globalFilterFields]="['nombres', 'ci']"
            [customSort]="true"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            >
                <ng-template pTemplate="caption">
                    <form class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    [formGroup]="searchForm"
                    >
                        <h5 class="m-0">{{titleTable}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" inputId="termino"  placeholder="Search..." formControlName="termino" class="w-full sm:w-auto" (input)="dt.filterGlobal($event.target, 'contains')" />
                            <small
                                id="termino-help"
                                class="p-error block"
                                *ngIf="campoValido('termino')"
                                >{{ getTerminoErrors("termino") }}
                            </small>
                        </span>
                    </form>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombres" style="width:20%">Nombres <p-sortIcon field="nombres"></p-sortIcon></th>
                        <th pSortableColumn="ci" style="width:20%">CI <p-sortIcon field="CI"></p-sortIcon></th>
                        <th >Contacto</th>
                        <!-- <th >Barrio</th> -->
                        <th pSortableColumn="estado" style="width:20%">Estado<p-sortIcon field="Estado"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr >
                        <td><span class="p-column-title">Code</span>
                            {{customer.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombres</span>
                            {{customer.nombrePrimero | titlecase}} {{customer.nombreSegundo ||"" |titlecase}} {{customer.apellidoPrimero | titlecase}} {{customer.apellidoSegundo ||"" | titlecase}} 
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Ci</span>
                            <span class="p-column-title">Afiliado</span>
                            {{customer.CI}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">contactos</span>
                           {{customer.contacto ||'SIN CONTACTO'}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">ESTADO</span>
                            <p-tag [severity]="customer.isActive?'success':'danger'" [value]="customer.estado"></p-tag>
                        </td>
                        <td  style="width:14%; min-width: 10rem;">
                            <div class="flex p-fluid">
                                <button pButton pRipple icon="pi pi-plus" label="mas..." class="p-button-rounded p-button-info mr-2"
                                (click)="dataDetail(customer.id)"
                                ></button>
                                
                            </div>
                        </td>
                    </tr>
                </ng-template>
                
            </p-table>
        </div>
    </div>
</div>
<app-perfil-pdf
*ngIf="pdfGeneratorVisible"
[visible]="pdfGeneratorVisible"
(closeDisplayModalTable)="pdfGeneratorVisible = $event"
></app-perfil-pdf>