<div class="grid">
    <div class="col-12">
      <div class="card">
        <h5>Datos del Rol</h5>
        <p-divider></p-divider>
        <div class="grid p-fluid md:flex md:justify-content-center" *ngIf="role">
          <div class="field col-12">
            <label htmlFor="nombre">Nombe del Rol</label>
            <input
              pInputText
              id="nombre"
              type="text"
              [disabled]="true"
              [value]="role.nombre"
              class="appearance-none text-color text-base"
            />
          </div>
          <div class="field col-12">
            <label htmlFor="estado">Estado</label>
            <input
              pInputText
              id="estado"
              type="text"
              [disabled]="true"
              [value]="role.estado"
              class="appearance-none text-color text-base"
            />
          </div>
        </div>
      </div>
      <div class="card" *ngIf="role?.menus">
        <div class="col-12">
          <h5>Menus de acceso vinculados al rol</h5>
          <p-divider></p-divider>
          <div class="mt-3">
            <p-table
              [value]="role.menus!"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Code</th>
                  <th>Nombre de Item</th>
                  <th>Enlace de Item</th>
                  <th>Estado de Item</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer let-index>
                <tr>
                  <td>{{ customer.id }}</td>
                  <td>{{ customer.nombre }}</td>
                  <td>{{ customer.linkMenu }}</td>
                  <td>     <p-tag [severity]="customer.isActive?'success':'danger'" [value]="customer.estado"></p-tag>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
  
      <div class="card">
        <h5>Opciones</h5>
        <p-divider></p-divider>
        <div class="grid p-fluid md:justify-content-center" *ngIf="role">
          <div class="col-12 md:col-3 md:flex md:justify-content-center">
            <button
              pButton
              pRipple
              label="Modificar"
              class="p-button-success"
              (click)="actionData('MODIFICAR')"
            ></button>
          </div>
          <div
            class="col-12 md:col-3 md:flex md:justify-content-center"
            *ngIf="role.isActive; else inhabilitado"
          >
            <button
              pButton
              pRipple
              label="Deshabilitar"
              class="p-button-warning"
              *ngIf="role.isActive;else inhabilitado"
              (click)="actionData('DESHABILITAR')"
            ></button>
          </div>
          <ng-template #inhabilitado>
            <div class="col-12 md:col-3 md:flex md:justify-content-center">
              <button
                pButton
                pRipple
                label="Habilitar"
                class="p-button-info"
                (click)="actionData('HABILITAR')"
              ></button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  