<p-dialog header="{{tarifaSelected?'Formulario de modificación de datos':'Formulario de registro de datos'}}" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [baseZIndex]="900" (visibleChange)="eventVisible.emit(false)">
    <div class="card">
        <h4 class="text-center mb-5">{{titleForm}}</h4>
        <form [formGroup]="tarifaForm" class="grid p-fluid p-formgrid grid mt-5">
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown
                    inputId="tipoMulta"
                    [autoDisplayFirst]="false"
                    [options]="commonServiceApp.tiposMultas"
                    formControlName="tipoMulta"
                    optionLabel="name"
                    optionValue="value"
                    placeholder="Selecciona el tipo de multa"
                    [ngClass]="inputValid('tipoMulta')"
                  ></p-dropdown>
                  <label for="tipoMulta">Selecciona el tipo de multa(*)</label>
                </span>
                <small
                  id="tipoMulta-help"
                  class="p-error block"
                  *ngIf="campoValido('tipoMulta')"
                  >{{ getTipoMultaErrors("tipoMulta") }}
                </small>
              </div>
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                <p-inputNumber
                inputId="mesesDemora"  
                formControlName="mesesDemora"
                [ngClass]="inputValid('mesesDemora')"
              ></p-inputNumber>
              <label for="mesesDemora">N° de meses de demora(*)</label>
            </span>
            <small
              id="mesesDemora-help"
              class="p-error block"
              *ngIf="campoValido('mesesDemora')"
              >{{ getMesesDemoraErrors("mesesDemora") }}
            </small>
          </div>
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
              <p-inputNumber
                inputId="monto"  
                formControlName="monto"
                [ngClass]="inputValid('monto')"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              ></p-inputNumber>
              <label for="monto">Monto de tarifa(*)</label>
            </span>
            <small
              id="monto-help"
              class="p-error block"
              *ngIf="campoValido('monto')"
              >{{ getMontoErrors("monto") }}
            </small>
          </div>
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <p-dropdown
                inputId="moneda"
                [autoDisplayFirst]="false"
                [options]="commonServiceApp.monedas"
                formControlName="moneda"
                optionLabel="name"
                optionValue="value"
                placeholder="Selecciona la moneda"
                [ngClass]="inputValid('moneda')"
              ></p-dropdown>
              <label for="moneda">Moneda de la tarifa(*)</label>
            </span>
            <small
              id="moneda-help"
              class="p-error block"
              *ngIf="campoValido('moneda')"
              >{{ getMonedaErrors("moneda") }}
            </small>
          </div>
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
              <p-calendar
              formControlName="vigencia"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              [readonlyInput]="true"
              dataType="date"
              [ngClass]="inputValid('vigencia')"
              appendTo="body"
            >
            </p-calendar>
              <label for="vigencia">Vigente desde:</label>
            </span>
            <small
              id="vigencia-help"
              class="p-error block"
              *ngIf="campoValido('vigencia')"
              >{{ getVigenciaErrors("vigencia") }}
            </small>
          </div>
          <div class="col-12">
            <p-button [label]="this.tarifaSelected?'Modificar tarifa de multa':'Registrar nueva tarifa de multa'" (onClick)="validForm()"></p-button>
          </div>
    </form>
    </div>
</p-dialog>