<div class="grid card">    
    <div class="col-12">
      <h3>REGISTRO DE LECTURAS A LAS PLANILLAS DE LOS MEDIDORES DE AGUA</h3>
      <p-button label="Genar Tarifas por pagar" (onClick)="visibleGenerar=true"></p-button>
      <form class="card" [formGroup]="lecturasForm" *ngIf="showForm;else finalizado">
        <div class="col-12 grid">
          <div class="col-12" *ngIf="limite">
            <h5>FECHA LIMITE:</h5>
            <p>Inicio: {{limite.meses![0].fechaRegistroLecturas  | date: 'dd-MM-yyyy'}}</p>
            <p>FIN: {{limite.meses![0].fechaFinRegistroLecturas  | date: 'dd-MM-yyyy'}}</p>
            
          </div>
          <div class="col-3">
            <span class="p-float-label">
              <p-dropdown [options]="sortList" optionLabel="name" optionValue="value" (onChange)="applySort($event)" [showClear]="true"  placeholder="Filtrar:" optionLabel="name" inputId="float-label"></p-dropdown>
              <label for="float-label">Filtrar por: </label>
          </span>
          </div>
          <div class="col-3" *ngIf="sortValue.length>0">
            <span class="p-float-label">
              <p-dropdown [options]="sortValue" optionLabel="name" optionValue="value" (onChange)="applySortValue($event)" [showClear]="true"  placeholder="valor:" optionLabel="name" inputId="float-label"></p-dropdown>
              <label for="float-label">Valor: </label>
          </span>
          </div>
          <div class="col-3">
            <p-button label="Aplicar filtros" [disabled]="filterDisabled" (onClick)="getAllLecturas()"></p-button>
          </div>
          <div class="col-3">
            <p-button label="Reiniciar" (onClick)="resetList()" styleClass="p-button-help"></p-button>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="col-12">

      <p-table  #dt 
      dataKey="id"
      [value]="data" 
      [tableStyle]="{'min-width': '50rem'}"  
      [lazy]="true" 
      [rows]="lecturasOptions.limit"
      [paginator]="true"
      (onLazyLoad)="loadCustomers($event)"
      [totalRecords]="lecturasOptions.size||0"
      (sortFunction)="applySorteo($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10,50,100]"
      [customSort]="true"
      *ngIf="data.length>0 || showForm; else sinData">
      <ng-template pTemplate="caption">
        <form class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        [formGroup]="searchForm"
        >
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" inputId="termino"  placeholder="Search..." formControlName="termino" class="w-full sm:w-auto" (input)="dt.filterGlobal($event.target, 'contains')" />
                <small
                    id="termino-help"
                    class="p-error block"
                    *ngIf="campoValido('termino')"
                    >{{ getTerminoErrors("termino") }}
                </small>
            </span>
        </form>
    </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th  style="width:25%">Afiliados</th>
            <th style="width:25%">Barrio</th>
            <th style="width:25%">Nro Medidor de agua</th>
            <th style="width:25%" colspan="2" class="justify-content-center">Registros</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-perfil>
          <ng-container *ngIf="lecturados" formArrayName="registros">
          <tr *ngIf="perfil.afiliado.medidorAsociado.length<2; else segundaForma">
            <td> {{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||"" |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||"" | titlecase}}</td>
            <td>{{perfil.afiliado.ubicacion.barrio}}</td>
            <td>{{perfil.afiliado.medidorAsociado[0].medidor.nroMedidor}}</td>
            <ng-container *ngFor="let lecturaForm of lecturasArray.controls; let formIndexI=index">
              <ng-container *ngIf="lecturaForm.get('planilla')?.value.id === perfil.afiliado.medidorAsociado[0].planillas![0].id" [formGroupName]="formIndexI">
                <td class="field align-items-center justify-content-center">
                    <span class="p-float-label">
                        <p-inputNumber
                        id="lectura"
                        placeholder="Anterior lectura: {{perfil.afiliado.medidorAsociado[0].lecturaSeguimiento}} {{perfil.afiliado.medidorAsociado[0].medidor.medicion}}"
                        suffix=" {{perfil.afiliado.medidorAsociado[0].medidor.medicion}}."
                        formControlName="lectura"
                        [ngClass]="inputArrayValid('lectura',formIndexI)"
                        ></p-inputNumber>
                        <label for="lectura">Lectura</label>
                        <small
                                id="longitud-help"
                                class="p-error block"
                                *ngIf="campoArrayValido('lectura',formIndexI)"
                                >{{ getLecturaErrors("lectura",formIndexI) }}
                                </small>
                    </span>
                  </td>
                <td class="field">
                    <span class="p-float-label">
                        <input
                        type="text"
                        id="estadoMedidor"
                        pInputText
                        formControlName="estadoMedidor"
                        [ngClass]="inputArrayValid('estadoMedidor',formIndexI)"
                        (change)="addRequiredLectura('estadoMedidor',formIndexI)"
                        />
                        <label for="estadoMedidor">Estado medidor (Opcional)</label>
                        <small
                                id="longitud-help"
                                class="p-error block"
                                *ngIf="campoArrayValido('estadoMedidor',formIndexI)"
                                >{{ getEstadoMedidorErrors("estadoMedidor",formIndexI) }}
                                </small>
                    </span>
                  </td>
                </ng-container>
            </ng-container>
            
          </tr>
          <ng-template #segundaForma>
          <tr  *ngFor="let asociacion of perfil.afiliado.medidorAsociado;let i=index" >
            <td class="left-side" [rowSpan]="perfil.afiliado.medidorAsociado.length" *ngIf="i===0"> {{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||"" |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||"" | titlecase}}</td>
            <td>{{asociacion.ubicacion.barrio}}</td>
            <td>{{asociacion.medidor.nroMedidor}}</td>
            
            <ng-container *ngFor="let lecturaForm of lecturasArray.controls; let formIndexJ=index">
              <ng-container *ngIf="lecturaForm.get('planilla')?.value.id === asociacion.planillas![0].id" [formGroupName]="formIndexJ">
                <td class="field">
                    <span class="p-float-label mt-2">
                        <p-inputNumber
                        id="lectura"
                        placeholder="Anterior lectura: {{asociacion.lecturaSeguimiento}} {{asociacion.medidor.medicion}}"
                        suffix=" {{asociacion.medidor.medicion}}."
                        formControlName="lectura"
                        [ngClass]="inputArrayValid('lectura',formIndexJ)"
                        ></p-inputNumber>
                        <label for="lectura">Lectura</label>
                        <small
                                id="longitud-help"
                                class="p-error block"
                                *ngIf="campoArrayValido('lectura',formIndexJ)"
                                >{{ getLecturaErrors("lectura",formIndexJ) }}
                                </small>
                    </span>
                  </td>
                <td class="field ">
                    <span class="p-float-label mt-2">
                        <input
                        type="text"
                        id="estadoMedidor"
                        pInputText
                        formControlName="estadoMedidor"
                        [ngClass]="inputArrayValid('estadoMedidor',formIndexJ)"
                        (change)="addRequiredLectura('estadoMedidor',formIndexJ)"
                        />
                        <label for="estadoMedidor">Estado medidor (Opcional)</label>
                        <small
                                id="longitud-help"
                                class="p-error block"
                                *ngIf="campoArrayValido('estadoMedidor',formIndexJ)"
                                >{{ getEstadoMedidorErrors("estadoMedidor",formIndexJ) }}
                                </small>
                    </span>
                  </td>
                </ng-container>
            </ng-container>
          </tr>
        </ng-template>
        
      </ng-container>
        </ng-template>
        
    </p-table>
  </div>
  <div class="col-12">
    <p-button label="Registrar lecturas" (onClick)="validForm()"></p-button>
  </div>
    <ng-template #sinData>
      <p><i>NO HAY AFILIADOS DEL BARRIO {{lecturasOptions.barrio}} SIN REGISTRO DE LECTURA DEL MES {{lecturasOptions.mes}}</i></p>
    </ng-template>
    
  </form>
  <ng-template #finalizado>
      <p><i>{{titleError}}</i></p>
  </ng-template>
    </div>

</div>
<app-modal-reportes
*ngIf="visibleGenerar"
[visibleModal]="visibleGenerar"
(event)="visibleGenerar = $event"
></app-modal-reportes>