<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>REGISTRO DE LECTURAS DE MEDIDORES DE AGUA PARA LOS AFILIADOS</h4>
            <p-divider></p-divider>
            <h4>Año de Gestion de lecturas:</h4>
            <div class="grid mt-5 p-fluid">
                <div class="col-4">
                    <p-dropdown [options]="gestiones"  (onChange)="changeYear($event)" placeholder="Seleccione un año"></p-dropdown>
                </div>
            </div>
            <p-divider></p-divider>
            <h5>Mes de Registros de lecturas</h5>
            <div class="grid mt-3 p-fluid" *ngIf="meses.length>0">
                <div class="col-4">
                    <p-dropdown [options]="meses" optionLabel="mes" optionValue="mes" placeholder="Seleccione un mes del daño" (onChange)="changeMonth($event)"></p-dropdown>
                </div>
            </div>
            <p-divider></p-divider>
            <div class="grid mt-5">
                <div class="col-12"></div>
                <div class="col-3">
                    <p-button (onClick)="buscarLecturas()" label="Mostrar lecturas de gestion" [disabled]=" lecturasOptions.gestion===null || lecturasOptions.mes===null" styleClass="p-button-raised p-button-secondary"></p-button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="showLecturas">
        <div class="card">
            <div class="grid">
                <h5 class="col">REGISTROS DE MEDIDORES POR BARRIO:
                    <p-dropdown [options]="commonAppService.barrios" optionLabel="name" optionValue="value" (onChange)="changeBarrio($event)"></p-dropdown>
                </h5>
                <button pButton pRipple label="Generar reportes" (click)="visibleGenerar = true" class="p-button-primary"></button>
            </div>
            <p-divider></p-divider>
            <div class="card">
                <div class="m-2 flex flex-row justify-content-around flex-wrap">
                    <div class="flex align-items-center justify-content-center px-3"[style]="{'width':'25%'}"><h5>{{'AFILIADOS'}}</h5></div>
                    <div class="flex align-items-center justify-content-center px-3"[style]="{'width':'75%'}"><h5>{{'DETALLES DE MEDIDORES'}}</h5></div>
                </div>
                <div class="flex justify-content-end flex-wrap">
                    <div class="flex justify-content-around" [style]="{'width':'75%'}">
                        <div class="flex align-items-center justify-content-center font-bold">Barrio Medidor.</div>
                        <div class="flex align-items-center justify-content-center font-bold">Nro Medidor.</div>
                        <div class="flex align-items-center justify-content-center font-bold">Lectura Marcada</div>
                        <div class="flex align-items-center justify-content-center font-bold">Estado del medidor.</div>
                        <div class="flex align-items-center justify-content-center font-bold">Ultima Lectura.</div>
                    </div>
                </div>
                <div *ngFor="let customer of data" class="card m-2 flex flex-row justify-content-between  flex-wrap">
                    <div class="flex align-items-center justify-content-center px-3">
                    <p class="fs-text">
                        {{customer.nombrePrimero | titlecase}} {{customer.nombreSegundo ||"" |titlecase}} {{customer.apellidoPrimero | titlecase}} {{customer.apellidoSegundo ||"" | titlecase}}
                    </p>
                    </div>
                    <div class="flex overflow-hidden justify-content-between" [style]="{'min-width':'75%', 'padding':'18px 0 0 0'}" *ngFor="let medidor of customer.afiliado!.medidores">
                        <div class="flex justify-content-start px-3"><p class="fs-text">{{medidor.ubicacion?.barrio}}</p></div>
                        <div class="flex justify-content-start px-3"><p class="fs-text">{{medidor.nroMedidor}}</p></div>
                        <div class="flex align-items-center justify-content-center px-3" *ngIf="medidor.planillas![0].lecturas[0]?.lectura; else sinLectura"><p class="fs-text">{{medidor.planillas![0].lecturas[0].lectura}}</p></div>
                        <ng-template #sinLectura> <div class="field flex align-items-center justify-content-center px-3">
                            
                            <span class="p-float-label">
                                <p-inputNumber
                                id="lectura"
                                (onBlur)="addLectura(medidor.planillas,$event)"
                                ></p-inputNumber>
                                <label for="lectura">Lectura</label>
                            </span>
                        </div></ng-template>
                        <div class="flex align-items-center justify-content-center px-3" *ngIf="medidor.planillas![0].lecturas[0]?.lectura; else sinMedidor"> <p class="fs-text">{{medidor.planillas![0].lecturas[0].estadoMedidor || 'SIN NOVEDAD'}}</p></div>
                        <ng-template #sinMedidor> 
                            <div class="field flex align-items-center justify-content-center px-3">
                                <span class="p-float-label">
                                    <input
                                    type="text"
                                    id="estadoMedidor"
                                    pInputText
                                    (change)="addLectura(medidor,$event)"
                                    />
                                    <label for="estadoMedidor">Estado medidor (Opcional)</label>
                                </span>
                            </div>
                        </ng-template>
                        <div class="flex justify-content-start px-4">
                            <div class="w-full">
                                <p class="fs-text">
                                    {{medidor.ultimaLectura}}
                                </p>
                            </div>
                        </div>
                        <!-- <div class="flex justify-content-start px-3">{{medidor.planillas![0].gestion}}</div> -->
                        
                    </div>
                
                </div>
                <div class="col-12 md:flex md:justify-content-center ">
                    <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-primary"
                    label="registrar lecturas"
                    [disabled]="lecturasForm.pending || lecturasArray.length===0"
                    (click)="validForm()"
                    ></button>
                </div> 

            </div>
                <!-- <div class="col-12 grid">
                        <div class="col-3 border-1">Afiliado</div>
                        <div class="col-3 border-1">Cedula de Identidad</div>
                        <div class="col-3 border-1">Medidor</div>
                        <div class="col-3 border-1">Lectura del mes</div>
                    </div>
                <div class="col-12 grid" *ngFor="let perfil of data">
                    <div class="col-3 border-1">{{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||"" |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||"" | titlecase}}</div>
                    <div class="col-3 border-1">{{perfil.CI}}</div>
                    <div class="col-6 border-1">
                        <div class="grid "*ngFor="let medidor of perfil.afiliado?.medidores">
                            <div class="col border-1">{{medidor.nroMedidor}}</div>
                            <div class="col border-1">
                                <p-inputNumber  (onBlur)="addLectura(medidor.planillas![0],$event)"></p-inputNumber>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            -->

        </div>
    </div>
</div>
<app-modal-reportes
*ngIf="visibleGenerar"
[visibleModal]="visibleGenerar"
(event)="visibleGenerar = $event"
></app-modal-reportes>