<div class="grid card">
    <!-- <div class="col-12">
        <div class="card">
            <p-divider></p-divider>
            <h4>Año de Gestion de lecturas:</h4>
            <div class="grid mt-5 p-fluid">
                <div class="col-4">
                    <p-dropdown [options]="gestiones"  (onChange)="changeYear($event)" placeholder="Seleccione un año"></p-dropdown>
                </div>
            </div>
            <p-divider></p-divider>
            <h5>Mes de Registros de lecturas</h5>
            <div class="grid mt-3 p-fluid" *ngIf="meses.length>0">
                <div class="col-4">
                    <p-dropdown [options]="meses" optionLabel="mes" optionValue="mes" placeholder="Seleccione un mes del daño" (onChange)="changeMonth($event)"></p-dropdown>
                </div>
            </div>
            <p-divider></p-divider>
            <div class="grid mt-5">
                <div class="col-12"></div>
                <div class="col-3">
                    <p-button (onClick)="buscarLecturas()" label="Mostrar lecturas de gestion" [disabled]=" lecturasOptions.gestion===null || lecturasOptions.mes===null" styleClass="p-button-raised p-button-secondary"></p-button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-12">
        <h4>REGISTRO DE LECTURAS DE MEDIDORES DE AGUA DE LOS AFILIADOS</h4>
        <div class="card" [formGroup]="lecturasForm" *ngIf="showForm;else finalizado">
            <div class="grid">
                <h5 class="col">REGISTROS DE MEDIDORES POR BARRIO:
                    <p-dropdown [options]="commonAppService.barrios" optionLabel="name" optionValue="value" (onChange)="changeBarrio($event)"></p-dropdown>
                </h5>
                <button pButton pRipple label="Generar Comprobantes" (click)="visibleGenerar = true" class="p-button-primary"></button>
            </div>
            <p-divider></p-divider>
            <div class="card" *ngIf="data.length>0; else sinData">
                <div class="m-2 flex flex-row justify-content-around flex-wrap">
                    <div class="flex align-items-center justify-content-center px-3"[style]="{'width':'25%'}"><h5>{{'AFILIADOS'}}</h5></div>
                    <div class="flex align-items-center justify-content-center px-3"[style]="{'width':'75%'}"><h5>{{'DETALLES DE MEDIDORES'}}</h5></div>
                </div>
                <div class="flex justify-content-end flex-wrap">
                    <div class="flex justify-content-around" [style]="{'width':'75%'}">
                        <div class="flex align-items-center justify-content-center font-bold">Barrio Medidor.</div>
                        <div class="flex align-items-center justify-content-center font-bold">Nro Medidor.</div>
                        <div class="flex align-items-center justify-content-center font-bold">Lectura Marcada</div>
                        <div class="flex align-items-center justify-content-center font-bold">Estado del medidor.</div>
                    </div>
                </div>
                <div *ngFor="let customer of data" class="card grid nested-grid">
                    <div class="col-3 px-3">
                    <p class="fs-text">
                        {{customer.nombrePrimero | titlecase}} {{customer.nombreSegundo ||"" |titlecase}} {{customer.apellidoPrimero | titlecase}} {{customer.apellidoSegundo ||"" | titlecase}}
                    </p>
                    </div>
                    <div class="col-9" *ngIf="lecturados" formArrayName="registros" >
                        <div class="grid" [style]="{'min-width':'75%', 'padding':'18px 0 0 0'}" *ngFor="let asc of customer.afiliado!.medidorAsociado">
                        <div class="col-3 px-3"><p class="fs-text">{{asc.ubicacion?.barrio}}</p></div>
                        <div class="col-3 px-3"><p class="fs-text">{{asc.medidor?.nroMedidor}}</p></div>
                        <ng-container *ngFor="let lecturaForm of lecturasArray.controls; let i=index">
                            <ng-container *ngIf="lecturaForm.get('planilla')?.value.id === asc.planillas![0].id" [formGroupName]="i">
                            <div class="field col-3 align-items-center justify-content-center px-3">
                                <span class="p-float-label">
                                    <p-inputNumber
                                    id="lectura"
                                    placeholder="Anterior lectura: {{asc.lecturaSeguimiento}}"
                                    formControlName="lectura"
                                    [ngClass]="inputArrayValid('lectura',i)"
                                    ></p-inputNumber>
                                    <label for="lectura">Lectura</label>
                                    <small
                                            id="longitud-help"
                                            class="p-error block"
                                            *ngIf="campoArrayValido('lectura',i)"
                                            >{{ getLecturaErrors("lectura",i) }}
                                            </small>
                                </span>
                            </div>
                            <div class="field col-3 px-3">
                                <span class="p-float-label">
                                    <input
                                    type="text"
                                    id="estadoMedidor"
                                    pInputText
                                    formControlName="estadoMedidor"
                                    [ngClass]="inputArrayValid('estadoMedidor',i)"
                                    (change)="addRequiredLectura('estadoMedidor',i)"
                                    />
                                    <label for="estadoMedidor">Estado medidor (Opcional)</label>
                                    <small
                                            id="longitud-help"
                                            class="p-error block"
                                            *ngIf="campoArrayValido('estadoMedidor',i)"
                                            >{{ getEstadoMedidorErrors("estadoMedidor",i) }}
                                            </small>
                                </span>
                            </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    </div>
                
                </div>
                <div class="col-12 md:flex md:justify-content-center ">
                    <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-primary"
                    label="registrar lecturas"
                    [disabled]="lecturasForm.pending || lecturasArray.length===0"
                    (click)="validForm()"
                    ></button>
                </div> 

            </div>
            <ng-template #sinData>
                <p><i>NO HAY AFILIADOS DEL BARRIO {{lecturasOptions.barrio}} SIN REGISTRO DE LECTURA DEL MES {{lecturasOptions.mes}}</i></p>
            </ng-template>
            
                <!-- <div class="col-12 grid">
                        <div class="col-3 border-1">Afiliado</div>
                        <div class="col-3 border-1">Cedula de Identidad</div>
                        <div class="col-3 border-1">Medidor</div>
                        <div class="col-3 border-1">Lectura del mes</div>
                    </div>
                <div class="col-12 grid" *ngFor="let perfil of data">
                    <div class="col-3 border-1">{{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||"" |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||"" | titlecase}}</div>
                    <div class="col-3 border-1">{{perfil.CI}}</div>
                    <div class="col-6 border-1">
                        <div class="grid "*ngFor="let medidor of perfil.afiliado?.medidores">
                            <div class="col border-1">{{medidor.nroMedidor}}</div>
                            <div class="col border-1">
                                <p-inputNumber  (onBlur)="addLectura(medidor.planillas![0],$event)"></p-inputNumber>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            -->

        </div>
        <ng-template #finalizado>
            <p><i>{{titleError}}</i></p>
        </ng-template>
        
    </div>
</div>
<app-modal-reportes
*ngIf="visibleGenerar"
[visibleModal]="visibleGenerar"
(event)="visibleGenerar = $event"
></app-modal-reportes>