<div class="grid">
  <form class="col-12" [formGroup]="itemMenuForm">
    <div class="card">
      <h5>
        {{itemMenuActual?.id? "Datos de Item Menu seleccionado": "Registro de un nuevo Item Menu"}}
      </h5>
      <p-divider></p-divider>
      <div class="p-fluid p-formgrid grid mt-5">
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
              <input
                type="text"
                id="nombre"
                pInputText
                formControlName="nombre"
                [ngClass]="inputValid('nombre')"
              />
              <label for="nombre">Nombre de Item (*)</label>
            </span>
            <small
              id="nombre-help"
              class="p-error block"
              *ngIf="campoValido('nombre')"
              >{{ getNombreErrors("nombre") }}
            </small>
          </div>
          <div class="field col-12 md:col-6">
            <span class="p-float-label p-input-icon-right">
              <input
                type="text"
                id="linkMenu"
                pInputText
                formControlName="linkMenu"
                [ngClass]="inputValid('linkMenu')"
                [pKeyFilter]="blockSpace"

              />
              <label for="linkMenu">Enlace de acceso (*)</label>
              <i class="pi pi-spin pi-spinner" *ngIf="itemMenuForm.pending"></i>
            </span>
            <small
              id="linkMenu-help"
              class="p-error block"
              *ngIf="campoValido('linkMenu'); else helper"
              >{{ getLinkMenuErrors("linkMenu") }}
            </small>
            <ng-template #helper>
                <small id="linkMenu-help">Use el guion "-" para separar</small>
            </ng-template>
          </div>
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown
                inputId="visible"
                [autoDisplayFirst]="false"
                [options]="estadoVisible"
                formControlName="visible"
                optionLabel="name"
                optionValue="value"
                placeholder="Select visible"
                [ngClass]="inputValid('visible')"
              ></p-dropdown>
  
              <label for="visible">visible</label>
            </span>
            <small
              id="visible-help"
              class="p-error block"
              *ngIf="campoValido('visible')"
              >{{ getVisibleErrors("visible") }}
            </small>
          </div>
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown
                inputId="estado"
                [autoDisplayFirst]="false"
                [options]="commonService.estados"
                formControlName="estado"
                optionLabel="name"
                optionValue="value"
                placeholder="Select Estado"
                [ngClass]="inputValid('estado')"
              ></p-dropdown>
  
              <label for="estado">estado (*)</label>
            </span>
            <small
              id="estado-help"
              class="p-error block"
              *ngIf="campoValido('estado')"
              >{{ getEstadoErrors("estado") }}
            </small>
          </div>
          <div class="col-12 md:flex md:justify-content-center ">
            <button
              type="button"
              pButton
              pRipple
              class="p-button-primary"
              [label]="itemMenuActual?.id?'Modificar Item Menu':'Registrar Item Menu'"
              [disabled]="itemMenuForm.pending"
              (click)="validForm()"
            ></button>
          </div>
      </div>
    </div>
  </form>
</div>
