<p-dialog [header]="title" [(visible)]="visible" [modal]="true" [style]="{ width: '68vw' }" [draggable]="false" [resizable]="false" [baseZIndex]="900" (visibleChange)="endVisible()">
  <div class="card" *ngIf="!showFormAsc; else formAsc">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loading"></i>

    <div class="grid" *ngIf="asociacion">
      <div class="col-12 md:col-4 profile-image-container">
				<img [src]="asociacion.afiliado?.perfil?.urlImage || ''" alt="Foto de perfil" class="profile-image"/>
			
			</div>
      <div class="col-12 md:col-8 profile-details">
        <div class="grid">
          <div class="col-12">
            <h2>Afiliado Vinculado</h2>
            <div class="grid">
              <div class="col-12 md:col-6"><strong>Nombre Completo:</strong> {{ asociacion.afiliado?.perfil?.nombrePrimero | titlecase}} {{asociacion.afiliado?.perfil?.nombreSegundo ||'' | titlecase }} {{asociacion.afiliado?.perfil?.apellidoPrimero | titlecase}} {{asociacion.afiliado?.perfil?.apellidoSegundo||'' | titlecase}}</div>
							<div class="col-12 md:col-6"><strong>Cédula de Identidad:</strong> {{ asociacion.afiliado?.perfil?.CI }}</div>
							<div class="col-12 md:col-6"><strong>N° Contacto:</strong> {{ asociacion.afiliado?.perfil?.contacto || 'No tiene contacto' }}</div>
							<div class="col-12 md:col-6"><strong>Estado del registro:</strong><p-tag [severity]="asociacion.afiliado?.perfil?.isActive?'success':'danger'" [value]="asociacion.afiliado?.perfil?.estado" class="ml-3"></p-tag></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 profile-details">
        <div class="grid">
          <div class="col-12">
            <h2>Medidor de agua Vinculado</h2>
          </div>
          <div class="grid">
            <div class="col-12 md:col-6"><strong>N° de Medidor de agua:</strong> {{ asociacion.medidor?.nroMedidor}}</div>
            <div class="col-12 md:col-6"><strong>Tipo de medición:</strong> {{ asociacion.medidor?.medicion |titlecase }}</div>
            <div class="col-12 md:col-6"><strong>Estado del registro:</strong><p-tag [severity]="asociacion.medidor?.isActive?'success':'danger'" [value]="asociacion.medidor?.estado" class="ml-3"></p-tag></div>
          </div>
        </div>
      </div>
      <div class="col-12 profile-details">
        <div class="grid">
          <div class="col-12">
            <h2>Modificación de datos de Asociación</h2>
          </div>
          <form class="col-12" [formGroup]="asociacionForm">    
            <div class="p-fluid grid">
              <div class="col-4">
                <div class="text-center p-3 border-round-sm h-full font-bold">
                  <div class="col-12 flex flex-column justify-content-center">
                    <p-button icon="pi pi-map-marker" styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised" (onClick)="showMap=true" [disabled]="this.asociacionForm.disabled"></p-button>
                    <p>coordenadas</p>
                    <div class="text-400">
                      <p>Ltd: {{ubicacionForm.get('latitud')?.value || asociacionSelect?.ubicacion?.latitud}}, Lng: {{ubicacionForm.get('longitud')?.value || asociacionSelect?.ubicacion?.longitud}}</p>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-8 grid">
                    <div class="grid mt-5 p-fluid col-12" formGroupName="ubicacion">
                      <div class="field col-12 md:col-6" >
                        <span class="p-float-label p-input-icon-right">
                          <input
                            type="text"
                            id="numeroVivienda"
                            pInputText
                            formControlName="numeroVivienda"
                            [ngClass]="inputValidUbicacion('numeroVivienda')"
                          />
                          <label for="numeroVivienda">Numero de Vivienda ubicada</label>
                        </span>
                        <small
                          id="numeroVivienda-help"
                          class="p-error block"
                          *ngIf="campoValidoUbicacion('numeroVivienda')"
                          >{{ getNumeroViviendaErrors("numeroVivienda") }}
                        </small>
                      </div>
                      <div class="field col-12 md:col-6">
                        <span class="p-float-label">
                          <p-dropdown
                            inputId="barrio"
                            [autoDisplayFirst]="false"
                            [options]="commonAppService.barriosForm"
                            formControlName="barrio"
                            optionLabel="name"
                            optionValue="value"
                            [ngClass]="inputValidUbicacion('barrio')"
                          ></p-dropdown>
              
                          <label for="barrio">Barrio</label>
                        </span>
                        <small
                          id="barrio-help"
                          class="p-error block"
                          *ngIf="campoValidoUbicacion('barrio')"
                          >{{ getBarrioErrors("barrio") }}
                        </small>
                      </div>
                      <div class="field col-12 md:col-3 md:mt-3">
                        <span class="p-float-label">
                          <input
                            type="text"
                            id="manzano"
                            pInputText
                            formControlName="manzano"
                            [ngClass]="inputValidUbicacion('manzano')"
                          />
                          <label for="manzano">Manzano (*)</label>
                        </span>
                        <small
                          id="manzano-help"
                          class="p-error block"
                          *ngIf="campoValidoUbicacion('manzano')"
                          >{{ getManzanoErrors("manzano") }}
                        </small>
                      </div>
                      <div class="field col-12 md:col-3 md:mt-3">
                        <span class="p-float-label">
                          <p-inputNumber
                            inputId="numeroManzano"
                            formControlName="numeroManzano"
                            [ngClass]="inputValidUbicacion('numeroManzano')"
                          ></p-inputNumber>
                          <label for="numeroManzano">N° Manzano (*)</label>
                        </span>
                        <small
                          id="numeroManzano-help"
                          class="p-error block"
                          *ngIf="campoValidoUbicacion('numeroManzano')"
                          >{{ getNroManzanoErrors("numeroManzano") }}
                        </small>
                      </div>
                      <div class="field col-12 md:col-3 md:mt-3">
                        <span class="p-float-label">
                          <p-inputNumber
                            inputId="nroLote"
                            formControlName="nroLote"
                            [ngClass]="inputValidUbicacion('nroLote')"
                          ></p-inputNumber>
                          <label for="nroLote">N° Lote (*)</label
                          >
                        </span>
                        <small
                          id="nroLote-help"
                          class="p-error block"
                          *ngIf="campoValidoUbicacion('nroLote')"
                          >{{ getNroLoteErrors("nroLote") }}
                        </small>
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <span class="p-float-label">
                        <p-calendar
                          formControlName="fechaInstalacion"
                          [showIcon]="true"
                          dateFormat="dd/mm/yy"
                          dataType="date"
                          [ngClass]="inputValid('fechaInstalacion')"
                          placeholder="dd/mm/yy"
                          
                        >
                        </p-calendar>
                        <label for="fechaInstalacion">Fecha de Instalacion</label>
                      </span>
                      <small
                        id="fechaInstalacion-help"
                        class="p-error block"
                        *ngIf="campoValido('fechaInstalacion')"
                        >{{ getFechaInstalacionErrors("fechaInstalacion") }}
                      </small>
                    </div>
                    
                  </div>
                  <div class="col-12 grid">
                    <!-- <div class="grid p-fluid md:justify-content-center">
                        <div class="col-12  md:flex md:flex-wrap md:justify-content-between">
                        </div>
                      </div> -->
                      <div class="col-12 md:col">
                        <button pButton pRipple *ngIf="this.asociacion.isActive" label="Deshabilitar Asociación" class="p-button-danger" (click)="disabledAsc()" [disabled]="this.asociacionForm.disabled"></button>
                      </div>
                      <div class="col-12 md:col">
                        <button pButton pRipple label="Modificar Datos de asociación" class="p-button-info" (click)="validForm()" [disabled]="this.asociacionForm.disabled"></button>
                      </div>
                      <div class="col-12 md:col">
                        <button pButton pRipple label="Cerrar ventana" class="p-button-secondary" (click)="sendVisible.emit(false)"></button>
                      </div>
                    </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #formAsc>

    <div class="card">
      <div class="grid">
        <div class="col-12 md:col-4 profile-image-container">
          <img [src]="perfilSelect?.urlImage || ''" alt="Foto de perfil" class="profile-image"/>
        </div>
        <div class="col-12 md:col-8 profile-details">
          <div class="grid">
            <div class="col-12">
              <h2>Afiliado a Vincular</h2>
              <div class="grid">
                <div class="col-12 md:col-6"><strong>Nombre Completo:</strong> {{ perfilSelect?.nombrePrimero | titlecase}} {{perfilSelect?.nombreSegundo ||'' | titlecase }} {{perfilSelect?.apellidoPrimero | titlecase}} {{perfilSelect?.apellidoSegundo||'' | titlecase}}</div>
                <div class="col-12 md:col-6"><strong>Cédula de Identidad:</strong> {{ perfilSelect?.CI }}</div>
                <div class="col-12 md:col-6"><strong>N° Contacto:</strong> {{ perfilSelect?.contacto || 'No tiene contacto' }}</div>
                <div class="col-12 md:col-6"><strong>Estado del registro:</strong><p-tag [severity]="perfilSelect?.isActive?'success':'danger'" [value]="perfilSelect?.estado" class="ml-3"></p-tag></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 profile-details">
          <div class="grid">
            <div class="col-12">
              <h2>Medidor de agua a Vincular</h2>
            </div>
            <div class="grid">
              <div class="col-12 md:col-6"><strong>N° de Medidor de agua:</strong> {{ medidorSelect?.nroMedidor}}</div>
              <div class="col-12 md:col-6"><strong>Tipo de medición:</strong> {{ medidorSelect?.medicion |titlecase }}</div>
              <div class="col-12 md:col-6"><strong>Estado del registro:</strong><p-tag [severity]="medidorSelect?.isActive?'success':'danger'" [value]="medidorSelect?.estado" class="ml-3"></p-tag></div>
            </div>
          </div>
        </div>
        <div class="col-12 profile-details">
          <div class="grid">
            <div class="col-12">
              <h2>Formulario de Registro de asociación</h2>
            </div>
            <form class="col-12" [formGroup]="asociacionForm">
              <div class="p-fluid grid">
                <div class="col-4">
                  <div class="text-center p-3 border-round-sm h-full font-bold">
                    <div class="col-12 flex flex-column justify-content-center">
                      <p-button icon="pi pi-map-marker" styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised" (onClick)="showMap=true"></p-button>
                      <p>coordenadas</p>
                      <div class="text-400" *ngIf="ubicacionForm.get('latitud')?.value">
                        <p>Ltd: {{ubicacionForm.get('latitud')?.value}}, Lng: {{ubicacionForm.get('longitud')?.value}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="col-8" >
                      <div class="grid mt-5 p-fluid" formGroupName="ubicacion">
                        <div class="field col-12 md:col-6" >
                          <span class="p-float-label p-input-icon-right">
                            <input
                              type="text"
                              id="numeroVivienda"
                              pInputText
                              formControlName="numeroVivienda"
                              [ngClass]="inputValidUbicacion('numeroVivienda')"
                            />
                            <label for="numeroVivienda">Numero de Vivienda ubicada</label>
                          </span>
                          <small
                            id="numeroVivienda-help"
                            class="p-error block"
                            *ngIf="campoValidoUbicacion('numeroVivienda')"
                            >{{ getNumeroViviendaErrors("numeroVivienda") }}
                          </small>
                        </div>
                        <div class="field col-12 md:col-6">
                          <span class="p-float-label">
                            <p-dropdown
                              inputId="barrio"
                              [autoDisplayFirst]="false"
                              [options]="commonAppService.barriosForm"
                              formControlName="barrio"
                              optionLabel="name"
                              optionValue="value"
                              [ngClass]="inputValidUbicacion('barrio')"
                            ></p-dropdown>
                
                            <label for="barrio">Barrio</label>
                          </span>
                          <small
                            id="barrio-help"
                            class="p-error block"
                            *ngIf="campoValidoUbicacion('barrio')"
                            >{{ getBarrioErrors("barrio") }}
                          </small>
                        </div>
                        <div class="field col-12 md:col-4 md:mt-3">
                          <span class="p-float-label">
                            <input
                              type="text"
                              id="manzano"
                              pInputText
                              formControlName="manzano"
                              [ngClass]="inputValidUbicacion('manzano')"
                            />
                            <label for="manzano">Manzano (*)</label>
                          </span>
                          <small
                            id="manzano-help"
                            class="p-error block"
                            *ngIf="campoValidoUbicacion('manzano')"
                            >{{ getManzanoErrors("manzano") }}
                          </small>
                        </div>
                        <div class="field col-12 md:col-4 md:mt-3">
                          <span class="p-float-label">
                            <p-inputNumber
                              inputId="numeroManzano"
                              formControlName="numeroManzano"
                              [ngClass]="inputValidUbicacion('numeroManzano')"
                            ></p-inputNumber>
                            <label for="numeroManzano">N° Manzano (*)</label>
                          </span>
                          <small
                            id="numeroManzano-help"
                            class="p-error block"
                            *ngIf="campoValidoUbicacion('numeroManzano')"
                            >{{ getNroManzanoErrors("numeroManzano") }}
                          </small>
                        </div>
                        <div class="field col-12 md:col-4 md:mt-3">
                          <span class="p-float-label">
                            <p-inputNumber
                              inputId="nroLote"
                              formControlName="nroLote"
                              [ngClass]="inputValidUbicacion('nroLote')"
                            ></p-inputNumber>
                            <label for="nroLote">N° Lote (*)</label
                            >
                          </span>
                          <small
                            id="nroLote-help"
                            class="p-error block"
                            *ngIf="campoValidoUbicacion('nroLote')"
                            >{{ getNroLoteErrors("nroLote") }}
                          </small>
                        </div>
                      </div>
                      <div class="grid p-fluid">
                      <div class="field col-12 md:col-6">
                        <span class="p-float-label">
                          <p-calendar
                            formControlName="fechaInstalacion"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            dataType="date"
                            [ngClass]="inputValid('fechaInstalacion')"
                            placeholder="dd/mm/yy"
                          >
                          </p-calendar>
                          <label for="fechaInstalacion">Fecha de Instalacion</label>
                        </span>
                        <small
                          id="fechaInstalacion-help"
                          class="p-error block"
                          *ngIf="campoValido('fechaInstalacion')"
                          >{{ getFechaInstalacionErrors("fechaInstalacion") }}
                        </small>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <div class="grid p-fluid md:justify-content-center">
                    <div class="col-12 md:col-6 md:flex md:justify-content-center">
                        <button pButton pRipple label="Registrar nueva asociacion" class="p-button-info" (click)="validForm()"></button>
                    </div>
                </div>
            </div>
      </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>

<app-map-coord *ngIf="showMap"
(sendLatLong)="coordenadas($event)"
[latLong]="coordenadasLatLngForm"
[visible]="showMap"
[buttonInsert]="true"
(closeModal)=" showMap = $event"
></app-map-coord>


<app-map-afiliado
*ngIf="visibleMapAfiliado"
[visible]="visibleMapAfiliado"
[defaultCenter]="coordenadasLatLngDetails"
(eventVisible)="visibleMapAfiliado =$event"
></app-map-afiliado>