<p-dialog
header="FORMULARIO DE REGISTRO DE NUEVA MULTA DE SERVICIO"
[(visible)]="visible" [modal]="true" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false" [baseZIndex]="1300" [closeOnEscape]="false"
(visibleChange)="eventVisible.emit({visible:false})"
>
    <form class="card grid mt-1" [formGroup]="formMulta">
      <h5>DATOS DEL AFILIADO</h5>
        <div class="col-12 grid">
            <div class="col-12 md:col">
                <div class="text-900 text-xl mb-2 font-medium text-right">NOMBRES DE AFILIADO</div>
                <p class="text-700 line-height-3 text-right">{{perfil.nombrePrimero}} {{perfil.nombreSegundo ||''}} {{perfil.apellidoPrimero}} {{perfil.apellidoSegundo ||''}}</p>
            </div>
            <div class="col-12 md:col">
                <div class="text-900 text-xl mb-2 font-medium text-right">Numero de AFiliacion</div>
                <p class="text-700 line-height-3 text-right">{{perfil.afiliado?.id}}<p>
            </div>
        </div>
        <div class="col-12 p-fluid p-formgrid grid mt-5">
          <div class="field col-12 md:col">
            <span class="p-float-label">
              <p-inputNumber
              id="monto"
              formControlName="monto"
              [ngClass]="inputValid('monto')"
              ></p-inputNumber>
              <label for="monto">Monto monetario (*)</label>
                </span>
                <small
                  id="monto-help"
                  class="p-error block"
                  *ngIf="campoValido('monto')"
                  >{{ getMontoErrors("monto") }}
                </small>
              </div>
            <div class="field col-12 md:col">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="commonAppService.monedas"
                    id="moneda"
                    placeholder="Seleccione la moneda de pago"
                    formControlName="moneda"
                    optionLabel="name"
                    optionValue="value"
                    [ngClass]="inputValid('moneda')"
                    ></p-dropdown>
                    <label for="moneda">Moneda de pago (*)</label>
                  </span>
                  <small
                  id="moneda-help"
                  class="p-error block"
                  *ngIf="campoValido('moneda')"
                  >{{ getMontoErrors("moneda") }}
                </small>
              </div>
              <div class="field col-12">
                  <span class="p-float-label">
                    <textarea
                      type="text"
                      id="motivo"
                      pInputText
                      formControlName="motivo"
                      rows="5"
                      cols="20"
                      pInputTextarea
                      style="width: 250px;"
                      id="motivo"
                      [ngClass]="inputValid('motivo')"
                    ></textarea>
                    <label for="motivo">Motivo de multa (*)</label>
                  </span>
                  <small
                    id="motivo-help"
                    class="p-error block"
                    *ngIf="campoValido('motivo')"
                    >{{ getMotivoErrors("motivo") }}
                  </small>
              </div>
        </div>
        <div class="col-12 grid">
            <p-button label="Seleccionar lecturas" id="lecturasMultadas"
            (onClick)="visibleSelectLecturas=true"
            ></p-button>
            
            <ng-container *ngIf="lecturasMultadasList.length>0">

              <p-table [value]="lecturasMultadasList"[tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                <tr>
                  <th>GESTION</th>
                  <th>MES DE LECTURA</th>
                  <th>LECTURA REGISTRADA</th>
                  <th>CONSUMO</th>
                  <th>MONTO SIN PAGAR</th>
                  <th>MOTIVO</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer let-index>
                <tr>
                  <td>{{ customer.gestionD }}</td>
                  <td>{{ customer.mesLectura }}</td>
                  <td>{{ customer.lectura }}</td>
                  <td>{{ customer.consumoTotal }}</td>
                  <td>{{ customer.cantidad }}</td>
                  <td>{{ customer.motivo }}</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <small
              id="lecturasMultadas-help"
              class="p-error block col-12"
              *ngIf="campoValido('lecturasMultadas')"
              >{{ lecturasFormeErrors() }}
            </small>
        </div>
        <div class="col-3">
          <p-button label="Registrar multa" (onClick)="validarForm()"></p-button>
        </div>
    </form>
</p-dialog>
<app-form-multas-lecturas-select
    *ngIf="visibleSelectLecturas"
[visible]="visibleSelectLecturas"
[perfilId]="perfil.id!"
(eventVisible)="visibleSelectLecturas =$event"
(eventLecturasSend)="lecturasMultadasAddList($event)"
></app-form-multas-lecturas-select>