<div class="user-profile-container">
	<p-card class="profile-card">
    <div class="grid">
      <div class="col-12 profile-details">
        <div class="grid" *ngIf="medidor">
					<!-- DATA Medidor-->
					 <div class="col-12">
						<div class="flex justify-content-between flex-wrap title-container">
							<div class="flex justify-content-start flex-wrap">
								<h3>Información de Medidor de Agua</h3>
							</div>
							<div class="flex justify-content-end flex-wrap">
								<p-button icon="pi pi-user" label="Asociado" *ngIf="medidor.funcionamiento" styleClass="p-button-rounded p-button-info mr-2"  (click)="detailAsociacion()"></p-button>
                <p-button icon="pi pi-lock" styleClass="p-button-rounded p-button-danger mr-2" alt="Deshabilitar registro" *ngIf="medidor.isActive; else inhabilitado" (click)="actionData('DESHABILITAR')"></p-button>
                <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-warning  mr-2" alt="Modificar datos"(click)="actionData('MODIFICAR')" ></p-button>
                <ng-template #inhabilitado>
                  <p-button icon="pi pi-lock-open" styleClass="p-button-rounded p-button-success mr-2" alt="habilitar registro" (click)="actionData('HABILITAR')" ></p-button>
                </ng-template>
							</div>
						</div>
						<div class="grid">
							<div class="col-12 md:col-6"><strong>Número de Medidor de Agua:</strong> {{medidor.nroMedidor}}</div>
							<div class="col-12 md:col-6"><strong>Marca del Medidor:</strong> {{ medidor.marca }}</div>
							<div class="col-12 md:col-6"><strong>Lectura de Inicio:</strong> {{ medidor.lecturaInicial }} {{medidor.medicion}}.</div>
							<div class="col-12 md:col-6"><strong>Última lectura registrada:</strong> {{ medidor.lecturaMedidor}} {{medidor.medicion}}.</div>
							<div class="col-12 md:col-6"><strong>Estado de funcionamiento:</strong><p-tag [severity]="medidor.funcionamiento?'success':'danger'" [value]="medidor.funcionamiento?'En funcionamiento':'No en funcionamiento'" class="ml-3"></p-tag></div>
							<div class="col-12 md:col-6"><strong>Estado del registro:</strong><p-tag [severity]="medidor.isActive?'success':'danger'" [value]="medidor.estado" class="ml-3"></p-tag>
							</div>
						</div>
					</div>
				</div>
      </div>
      <div class="col-12 profile-details">
        <div class="grid" *ngIf="medidor">
          <!-- Data asociaciones del medidor de agua-->
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loadingAsociacion"></i>
        <div class="col-12" *ngIf="dataAsociados.length>0; else sinAsociaciones">
          <h2>Historial de Asociaciones con el medidor de agua actual</h2>
          <ng-container *ngFor="let asc of dataAsociados">
            <div class="col-12">
              <div class="flex justify-content-between flex-wrap title-container">
                <div class="flex justify-content-start flex-wrap">
                  <h3>Información de Asociación {{asc.id}}</h3>
                </div>
                <div class="flex justify-content-end flex-wrap">
                  <p-button styleClass="p-button-rounded p-button-info" icon="pi pi-book" (onClick)="asociacionDetails(asc)"></p-button>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-6"><strong>Estado de asociación</strong> {{asc.estadoMedidorAsociado | titlecase}}</div>
                <div class="col-12 md:col-6"><strong>Estado de Registro de asociación:</strong><p-tag [severity]="asc.isActive?'success':'danger'" [value]="medidor.estado" class="ml-3"></p-tag></div>
                
              </div>
            </div>
          </ng-container>
          
        </div>
        <ng-template #sinAsociaciones>
          <div class="col-12">
            <p class="font-italic" *ngIf="!loadingAsociacion">*El medidor de agua no tiene ninguna asociación</p>

          </div>
        </ng-template>
        
        </div>
      </div>
    </div>    
  </p-card>
</div>
<app-asociacion-medidor-details
*ngIf="visibleAsociacionDetails"
[visibile]="visibleAsociacionDetails"
[asociadoId]="idAsociado"
(eventVisible)="visibleAsociacionDetails = $event"
></app-asociacion-medidor-details>
