<p-dialog header="Perfil de cobros:" [(visible)]="visible" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false" (onHide)="eventVisible.emit(false)" [baseZIndex]="900" [closeOnEscape]="false">
    
    <div class="card m-3">
        <div class=" col-12 grid">
            <ng-container *ngIf="perfil">
            <div class="col-12 md:col-6">
                    <div class="text-900 text-xl mb-2 font-medium text-right">AFILIADO</div>
                    <p class="text-700 line-height-3 text-right">{{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||'' |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||'' | titlecase}}</p>        
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-900 text-xl mb-2 font-medium text-right">Cedula de Identidad</div>
                    <p class="text-700 line-height-3 text-right">{{perfil.CI}}</p>
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-900 text-xl mb-2 font-medium text-right">BARRIO</div>
                    <p class="text-700 line-height-3 text-right">{{perfil.afiliado?.ubicacion?.barrio}}</p>
                </div>
            </ng-container>
        </div>
        <h3>DEUDAS DE LECTURAS POR PAGAR</h3>
        <div class="col-12" >
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loading"></i>
            <p-divider></p-divider>
            <ng-container *ngIf="perfil">
                <p-treeTable [value]="medidoresDeudas"(onNodeSelect)="addSelect($event)" (onNodeUnselect)="dropSelected($event)" [columns]="cols" selectionMode="checkbox"  selectionMode="multiple" [(selection)]="selectedNodes" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" >
                    
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{ col.header }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <ng-container *ngIf="rowData['id'];else normalNode">
                            <tr>
                                <ng-container *ngFor="let col of colsMulta; let i = index">
                                    <th [colSpan]="col.colspan" class="text-center">
                                        {{col.header}}
                                    </th>
                                </ng-container>
                            </tr>
                            <tr>
                                <ng-container *ngFor="let col of colsMulta; let i = index">
                                    <td [colSpan]="col.colspan" class="text-center">
                                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" ></p-treeTableToggler>
                                        <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0" ></p-treeTableCheckbox>
                                        {{ col.field==='monto'? (rowData[col.field]+' '+rowData['moneda']+'.'):rowData[col.field] }}
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-container>
                        <ng-template #normalNode>
                            <tr>
                                <ng-container *ngFor="let col of columns; let i = index">
                                    <td class="text-center">
                                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" ></p-treeTableToggler>
                                        <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0 && !rowData.isMulta && !rowData.name && !rowData.gestion" ></p-treeTableCheckbox>
                                        {{ rowData[col.field] }}
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-template>
                    </ng-template>
                </p-treeTable>
            </ng-container>
            
            
        </div>
        
        <div class="col-12 grid">
            <button pButton pRipple label="Registrar Pagos" [disabled]="gestionesPorCobrar.length===0" class="p-button-success" (click)="registrarDeudas()"></button>
            <div class="col-12 md:col-3">
                <div class="text-900 text-xl mb-2 font-medium text-right">TOTAL POR PAGAR:</div>
                <p class="text-700 line-height-3 text-right">{{total}} Bs.</p>
            </div>
        </div>
    </div>
 </p-dialog>
 <app-form-register-deudas
 
 [porPagar]="gestionesPorCobrar"
 [visible]="visiblePagar"
 [perfil]="perfil"
 [totalPagar]="total"
 (eventVisible)="visiblePagar = $event"
 (pagado)="closeModalForm($event)"
 (porPagarPagadosEmit)=" gestionesPorCobrar = $event"
 ></app-form-register-deudas>