<p-dialog header="header" [(visible)]="visible" [maximizable]="true" [modal]="true" [style]="{ width: '98vw' }" [draggable]="false" [resizable]="false" (onHide)="eventVisible.emit(false)" [baseZIndex]="900" [closeOnEscape]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold text-center">COBROS DE SERVICIO DE AGUA</span>
    </ng-template>
    <div class="card m-1">
        <div class=" col-12 grid">
            <ng-container *ngIf="perfil">
            <div class="col-12 md:col-4">
                    <div class="text-900 text-2xl mb-2 font-medium text-left">Afiliado</div>
                    <p class="text-700 line-height-3 text-xl text-left">{{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||'' |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||'' | titlecase}}</p>        
                </div>
                <div class="col-12 md:col-3">
                    <div class="text-900 text-2xl mb-2 font-medium text-left">Cedula de Identidad</div>
                    <p class="text-700 line-height-3 text-xl text-left">{{perfil.CI}}</p>
                </div>
                <div class="col-12 md:col-2">
                    <div class="text-900 text-2xl mb-2 font-medium text-left">Barrio</div>
                    <p class="text-700 line-height-3 text-xl text-left">{{perfil.afiliado?.ubicacion?.barrio}}</p>
                </div>
            </ng-container>
        </div>
        <div class="col-12" >
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem" *ngIf="loading"></i>
            <p-divider></p-divider>
            <div class="grid">
                <div class="col-12 m-5" *ngIf="multasPorPagar.length ===0 && medidoresDeudas.length===0"> <p class="font-italic">{{titlePagos}}</p></div>
            
            <div class="col-12 my-5" *ngIf="multasPorPagar.length>0">
                <h4 class="mb-3">Multas</h4>
                <p-table [value]="multasPorPagar" dataKey="code" 
                [tableStyle]="{'min-width': '50rem'}" (onRowSelect)="addPagoPorMulta($event)" (onRowUnselect)="dropPagoMulta($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>N° medidor</th>
                            <th></th>
                            <th>N° de Multa</th>
                            <th>Tipo de multa</th>
                            <th>Motivo</th>
                            <th>Monto a pagar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-multa>
                        <ng-container *ngIf="multa.multas.length>1;else unaSola">
                            <tr>
                                <td [rowSpan]="multa.multas.length+1">{{multa}}</td>
                            </tr>
                            <tr *ngFor="let mult of multa.multas">
                                <td>
                                    <p-tableCheckbox [value]="mult"></p-tableCheckbox>
                                </td>
                                <td>{{mult.id}}</td>
                                <td>{{mult.tipoMulta}}</td>
                                <td>{{mult.motivo}}</td>
                                <td>{{mult.monto | currency : mult.moneda}}</td>
                            </tr>
                        </ng-container>
                        <ng-template #unaSola>
                            <tr>
                                <td>{{multa.nroMedidor}}</td>
                                <td>
                                    <p-tableCheckbox [value]="multa.multas[0]"></p-tableCheckbox>
                                </td>
                                <td>{{multa.multas[0].id}}</td>
                                <td>{{multa.multas[0].tipoMulta}}</td>
                                <td>{{multa.multas[0].motivo}}</td>
                                <td>{{multa.multas[0].monto | currency : multa.multas[0].moneda}}</td>
                            </tr>
                        </ng-template>
                        
                    </ng-template>
                </p-table>
            </div>
            <div class="mt-5" *ngIf="medidoresDeudas.length>0">
                <h4>Lecturas</h4>
            <ng-container *ngIf="perfil">
                <p-treeTable [value]="medidoresDeudas"(onNodeSelect)="addSelect($event)" 
                (onNodeUnselect)="dropSelected($event)" [columns]="cols" 
                selectionMode="checkbox"  selectionMode="multiple" 
                [(selection)]="selectedNodes" [scrollable]="true" 
                [tableStyle]="{'min-width':'50rem'}" >
                    
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" class="text-center">
                                {{ col.header }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        
                        <ng-container >
                            <tr>
                                <ng-container *ngFor="let col of columns; let i = index">
                                    <td class="text-center">
                                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" ></p-treeTableToggler>
                                        <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0 && !rowData.isMulta && !rowData.name && !rowData.gestion" ></p-treeTableCheckbox>
                                        {{ rowData[col.field] }}
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-container>
                    </ng-template>
                </p-treeTable>
            </ng-container>
        </div>
        </div>
        </div>
    </div>
        <!-- <div class="flex flex-wrap m-3 flex-row-reverse">
            <div class="col-12 md:col-3">
                <div class="text-900 text-xl mb-2 font-medium text-right">TOTAL POR PAGAR:</div>
                <p class="text-700 line-height-3 text-right">{{total}} Bs.</p>
            </div>
            <button pButton pRipple label="Registrar Pagos" [disabled]="gestionesPorCobrar.length===0" class="p-button-success" (click)="registrarDeudas()"></button>
        </div> -->

         
      <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <div class="footer-actions">
                <p-button 
                label="Registrar deudas seleccionadas" 
                styleClass="p-button-success"
                [disabled]="gestionesPorCobrar.length=== 0 && multasPorPagarSelected.length ===0"
                (click)="registrarDeudas()"
                ></p-button>
            </div>
            <div class="col-12 md:col-6 footer-info">
                <div class="text-900 text-xl font-bold text-right mx-2">Total a pagar:</div>
                <p class="text-900 text-lg text-right font-medium">{{total |currency: 'Bs.'}}</p>
            </div>
          </div>
      </ng-template>
 </p-dialog>
 <app-form-register-deudas
 *ngIf="visiblePagar"
 [porPagar]="gestionesPorCobrar"
 [multasPorPagarSelected]="multasPorPagarSelected"
 [visible]="visiblePagar"
 [perfil]="perfil"
 [totalPagar]="total"
 (eventVisible)="visiblePagar = $event"
 (pagado)="closeModalForm($event)"
 (porPagarPagadosEmit)=" gestionesPorCobrar = $event"
 ></app-form-register-deudas>