<p-dialog
  header="HISTORIAL DE COBROS REALIZADOS"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '95vw' }"
  [draggable]="false"
  [resizable]="false"
  [baseZIndex]="900"
  [closeOnEscape]="false"
  (onHide)="eventVisible.emit(false)"
>
  <div class="card m-3" *ngIf="perfil">
    <div class="col-12 grid">
      <div class="col-12 md:col-4">
        <div class="text-900 text-2xl mb-2 font-medium text-left">Afiliado</div>
        <p class="text-700 line-height-3 xl text-left">
          {{ perfil.nombrePrimero | titlecase }}
          {{ perfil.nombreSegundo || "" | titlecase }}
          {{ perfil.apellidoPrimero | titlecase }}
          {{ perfil.apellidoSegundo || "" | titlecase }}
        </p>
      </div>
      <div class="col-12 md:col-3">
        <div class="text-900 text-2xl mb-2 font-medium text-left">
          Cedula de Identidad
        </div>
        <p class="text-700 line-height-3 text-left">{{ perfil.CI }}</p>
      </div>
      <div class="col-12 md:col-2">
        <div class="text-900 text-2xl mb-2 font-medium text-left">Barrio</div>
        <p class="text-700 line-height-3 xl text-left">
          {{ perfil.afiliado?.ubicacion?.barrio }}
        </p>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="col-12 grid nested-grid">
      
      <div class="m-5">
        <div class="col-12 grid p-fluid">
          <div class="field col-12 md:col-3">
            <span class="p-float-label">
              <p-dropdown
                inputId="medidor"
                [autoDisplayFirst]="false"
                [options]="medidoresGes()"
                optionLabel="nroMedidor"
                optionValue="nroMedidor"
                placeholder="Select Medidor"
                (onChange)="obtenerGestiones($event)"
              ></p-dropdown>
              <label for="medidor">Medidor:</label>
            </span>
          </div>
        </div>
        <div class="col-12 grid p-fluid">
          <div class="field col-12 md:col-3">
            <span class="p-float-label">
              <p-dropdown
                inputId="gestion"
                [autoDisplayFirst]="false"
                [options]="planillas"
                optionLabel="gestion"
                optionValue="value"
                [emptyMessage]="messagePlanillas"
                placeholder="Select Gestion"
                (onChange)="obtenerLecturas($event)"
              ></p-dropdown>
              <label for="gestion">Gestión:</label>
            </span>
          </div>
        </div>
        <div
          class="col-12"
          *ngIf="lecturas.length > 0 && showTable; else sinLecturas"
        >
          <h5>REGISRO DE LECTURAS DE GESTION</h5>
          <p-table [value]="lecturas" [tableStyle]="{ 'min-width': '50rem' }">
            <!-- <ng-template pTemplate="caption">
                    <div class="grid">
                        <button pButton pRipple icon="pi pi-book" class="p-button-rounded p-button-info mr-2"
                        (click)="generarPdf()" [disabled]="lecturasSelected.length===0"></button>
                    </div>
                </ng-template> -->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center">Mes</th>
                <th class="text-center">Lectura (m3.)</th>
                <th class="text-center">consumo (m3.)</th>
                <th class="text-center">consumo (bs.)</th>
                <th class="text-center">Estado pago</th>
                <th class="text-center">Monto cancelado (Bs.)</th>
                <th class="text-center">Acciones</th>
                <!-- <th class="text-center">Metodo de pago (tipo)</th>
                        <th class="text-center">Fecha registrada</th>
                        <th class="text-center">Entidad de pago</th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns">
              <tr>
                <td class="text-center">{{ product.PlanillaMesLecturar }}</td>
                <td class="text-center">{{ product.lectura }}</td>
                <td class="text-center">{{ product.consumoTotal }}</td>
                <td class="text-center">{{ product.pagar.monto }}</td>
                <td class="text-center">
                  {{ product.pagar.estadoComprobate }}
                </td>
                <td class="text-center">
                  {{ product.pagar.comprobante.montoPagado }}
                </td>
                <td>
                  <p-button
                    icon="pi pi-book"
                    styleClass="p-button-rounded"
                    (onClick)="selectLectura(product)"
                  ></p-button>
                </td>
                <!-- <td class="text-center">{{product.pagar.comprobante.metodoPago}}</td>
                        <td class="text-center">{{product.pagar.comprobante.fechaEmitida | date :'dd-MM-yyyy HH:MM'}}</td>
                        <td class="text-center">{{product.pagar.comprobante.entidadPago}}</td> -->
              </tr>
            </ng-template>
          </p-table>
        </div>
        <ng-template #sinLecturas>
          <div class="col-12">
            <p>
              <i>{{ tableReport }}</i>
            </p>
          </div>
        </ng-template>
      </div>

    

    </div>
    <ng-container *ngIf="visibleHistorial"> </ng-container>
  </div>
</p-dialog>
<app-detalles-lecutura-pago
  *ngIf="visibleDetallesLecturaPago"
  [visible]="visibleDetallesLecturaPago"
  [idLectura]="idLecturaSelectedDetalles"
  (eventVisible)="visibleDetallesLecturaPago = $event"
></app-detalles-lecutura-pago>
