<p-dialog
header="Detalles del registro de pagos"
[(visible)]="visible" [modal]="true" [style]="{ width: '75vw' }" [draggable]="false" [resizable]="false" [baseZIndex]="1250" [closeOnEscape]="false"
(visibleChange)="cerrando($event)"
(onShow)="changesModal()"
>
<div class="card grid" [formGroup]="pagarForm">
    
    <div class="col-12">
        <h5>LECTURAS REGISTRADAS DE LOS MESES PASADOS:</h5>
      <p-divider></p-divider>
      <p-table [value]="porPagar">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center">Gestion</th>
            <th class="text-center">Mes de Registro</th>
            <th class="text-center">Lectura Registrada</th>
            <th class="text-center">Consumo de agua del Mes</th>
            <th class="text-center">Tarifa a Pagar del Mes consumido</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gestion let-rowIndex="rowIndex">
        <ng-container *ngIf="gestion.comprobantes===1;else moreComprobantes">
          <tr [class]="multaColor(gestion.comprobantes[0].multa)">
            <td [rowSpan]="gestion.comprobantes.length">{{gestion.gestion}}</td>
            <td>{{gestion.comprobantes[0].mesLectura}}</td>
            <td>{{gestion.comprobantes[0].lectura}}</td>
            <td>{{gestion.comprobantes[0].consumo}}</td>
            <td>{{gestion.comprobantes[0].monto_view}}</td>
            </tr>
        </ng-container>
          <ng-template #moreComprobantes>
            <tr *ngFor="let comp of gestion.comprobantes; let index=index">
              <td  class="text-center"[rowSpan]="gestion.comprobantes.length" *ngIf="index===0">{{gestion.gestion}}</td>
                <td [class]="multaColor(comp)">{{comp.mesLectura}}</td>
                <td [class]="multaColor(comp)">{{comp.lectura}}</td>
                <td [class]="multaColor(comp)">{{comp.consumo}}</td>
                <td [class]="multaColor(comp)">{{comp.monto_view}}</td>
            </tr>
          </ng-template>
          
      </ng-template>
      </p-table>
      <ng-container *ngIf="tieneMultas();">

      <h5>MULTAS POR PAGAR SELECCIONADAS</h5>
      <p-table [value]="porPagar" class="mt-3">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>GESTION</th>
            <th>N° de Multa</th>
            <th colspan="2">MOTIVO</th>
            <th>MONTO DE PAGO</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gestion let-rowIndex="rowIndex">
        <ng-container *ngIf="gestion.multas.length===1;else moreMultas">
          <tr>
            <td [rowSpan]="gestion.multas.length">{{gestion.gestion}}</td>
            <td [class]="gestion.multas[0].multaColor">{{gestion.multas[0].id}}</td>
            <td [class]="gestion.multas[0].multaColor"colspan="2">{{gestion.multas[0].motivo}}</td>
            <td [class]="gestion.multas[0].multaColor">{{gestion.multas[0].monto}} {{gestion.multas[0].moneda}}</td>
            </tr>
        </ng-container>
          <ng-template #moreMultas>
            <tr *ngFor="let multa of gestion.multas; let index=index">
              <td [rowSpan]="gestion.multas.length" *ngIf="index===0">{{gestion.gestion}}</td>
                <td [class]="gestion.multas[0].multaColor">{{multa.id}}</td>
                <td [class]="gestion.multas[0].multaColor" colspan="2">{{multa.motivo}}</td>
                <td [class]="gestion.multas[0].multaColor">{{multa.monto}} {{multa.moneda}}</td>
            </tr>
          </ng-template>
          
      </ng-template>
      </p-table>
    </ng-container>
    </div>
    <div class="col-12 grid">
        <button pButton pRipple label="Registrar Pagos" class="p-button-success" (click)="validForm()"></button>
        <div class="col-12 md:col-3">
            <div class="text-900 text-xl mb-2 font-medium text-right">TOTAL A PAGAR:</div>
            <p class="text-700 line-height-3 text-right">{{totalPagar}} Bs.</p>
        </div>  
    </div>
</div>
</p-dialog>
<p-dialog
 *ngIf="visibleRegisters"
header="Registros realizados"
class="card grid"
[(visible)]="visibleRegisters" [modal]="true" [style]="{ width: '50vw' }" [draggable]="true" [resizable]="true"  [baseZIndex]="1500">
<p-table [value]="logosRecibos.planillasPagadas" [tableStyle]="{ 'min-width': '50rem' }" class="col-12">
  <ng-template pTemplate="header">
      <tr>
          <th>Gestion</th>
          <th>Mes</th>
          <th>Lectura del Mes</th>
          <th>Consumo del mes</th>
          <th>Tarifa pagada</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gestion>
    <ng-container *ngIf="gestion.lecturas.length<2;else MasLecturas">
      <tr>
          <td>{{gestion.gestion}}</td>
          <td>{{gestion.lecturas[0].PlanillaMesLecturar}}</td>
          <td>{{gestion.lecturas[0].lectura}}</td>
          <td>{{gestion.lecturas[0].consumoTotal}}</td>
          <td>{{gestion.lecturas[0].pagar.monto}} {{gestion.lecturas[0].pagar.moneda}}.</td>
      </tr>
    </ng-container>
    <ng-template #MasLecturas>
      <tr *ngFor="let lect of gestion.lecturas;let i=index">
          <td *ngIf="i===0" [rowSpan]="gestion.lecturas.length">{{gestion.gestion}}</td>
          <td>{{lect.PlanillaMesLecturar}}</td>
          <td>{{lect.lectura}}</td>
          <td>{{lect.consumoTotal}}</td>
          <td>{{lect.pagar.monto}} {{lect.pagar.moneda}}.</td>
      </tr>

    </ng-template>
    
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
        <td colspan="4" class="text-right">Monto total de Pago:</td>
        <td>{{totalPagar}} {{logosRecibos.planillasPagadas[0].lecturas[0].pagar?.moneda}}.</td>
    </tr>
</ng-template>
</p-table>
<div class="col-6 col-offset-3">
  <p-button label="Generar recibo de impresión" styleClass="p-button-success" (onClick)="printPDFDetailsPago()"></p-button>
  <p-button label="cerrar" styleClass="p-button-secondary" (onClick)="closePrintRecibos()"></p-button>
</div>
</p-dialog>