<p-dialog
header="REGISTRO DE DEUDAS POR PAGAR"
[(visible)]="visible" [modal]="true" [style]="{ width: '75vw' }" [draggable]="false" [resizable]="false" [baseZIndex]="1250" [closeOnEscape]="false"
(visibleChange)="eventVisible.emit(false)"
(onShow)="changesModal()"
>
<div class="card grid" [formGroup]="pagarForm">
    
    <div class="col-12">
      <ng-container *ngIf="porPagar.length>0">
        <h5 class="my-3">CONSUMO DE LECTURAS SELECCIONADAS</h5>
      <p-divider></p-divider>
      <p-table [value]="porPagar">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center">Gestion</th>
            <th class="text-center">Mes de Registro</th>
            <th class="text-center">Lectura Registrada</th>
            <th class="text-center">Consumo de agua del Mes</th>
            <th class="text-center">Tarifa de pago</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gestion let-rowIndex="rowIndex">
        <ng-container *ngIf="gestion.comprobantes===1;else moreComprobantes">
          <tr >
            <td class="text-center" >{{gestion.gestion}}</td>
            <td class="text-center">{{gestion.comprobantes[0].mesLectura}}</td>
            <td class="text-center">{{gestion.comprobantes[0].lectura}}</td>
            <td class="text-center">{{gestion.comprobantes[0].consumo}}</td>
            <td class="text-center">{{gestion.comprobantes[0].monto_view}}</td>
            </tr>
        </ng-container>
          <ng-template #moreComprobantes>
            <tr>
              <td  class="text-center"[rowSpan]="gestion.comprobantes.length+1">{{gestion.gestion}}</td>
            </tr>
            <tr *ngFor="let comp of gestion.comprobantes; let index=index">
                <td class="text-center">{{comp.mesLectura}}</td>
                <td class="text-center">{{comp.lectura}}</td>
                <td class="text-center">{{comp.consumo}}</td>
                <td class="text-center">{{comp.monto_view}}</td>
            </tr>
          </ng-template>
          
      </ng-template>
      </p-table>

      </ng-container>
      
      <ng-container>
        <ng-container *ngIf="multasPorPagarSelected.length>0">
          <h5>MULTAS POR PAGAR SELECCIONADAS</h5>
          <p-table [value]="multasPorPagarSelected" class="mt-3">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>N° de Multa</th>
                <th>MOTIVO</th>
                <th>MONTO DE PAGO</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-multa let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">{{multa.id}}</td>
              <td class="text-center">{{multa.motivo}}</td>
              <td class="text-center">{{multa.monto | currency :multa.moneda}}</td>
            </tr>
          </ng-template>
          </p-table>

        </ng-container>
    </ng-container>
    </div>
    <div class="col-12 grid">
      <div class="col-12">
          <div class="text-900 text-xl mb-2 font-medium text-right">TOTAL A PAGAR:</div>
          <p class="text-700 line-height-3 text-right">{{totalPagar | currency: 'Bs.'}}</p>
      </div>  
      <div class="col-12">
        <button pButton pRipple label="Registrar Pagos" class="p-button-success" (click)="validForm()"></button>
      </div>
      </div>
</div>
</p-dialog>

<p-dialog
 *ngIf="visibleRegisters"
header="Pagos registrados"
class="card grid"
[(visible)]="visibleRegisters" [closeOnEscape]="false" [blockScroll]="true" [closable]="false" [modal]="true" [style]="{ width: '75vw' }" [draggable]="true" [resizable]="true"  [baseZIndex]="1500">
<div class="col-12 m-5" *ngIf="logosRecibos.planillasPagadas.length>0">
  <h4 class="text-center">Lecturas pagadas</h4>
  <p-table [value]="logosRecibos.planillasPagadas" [tableStyle]="{ 'min-width': '50rem' }" class="col-12">
    <ng-template pTemplate="header">
        <tr>
            <th>Gestion</th>
            <th>Mes</th>
            <th>Lectura del Mes</th>
            <th>Consumo del mes</th>
            <th>Tarifa pagada</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gestion>
      <ng-container *ngIf="gestion.lecturas.length===1;else MasLecturas">
        <tr>
            <td>{{gestion.gestion}}</td>
            <td>{{gestion.lecturas[0].PlanillaMesLecturar}}</td>
            <td>{{gestion.lecturas[0].lectura}}</td>
            <td>{{gestion.lecturas[0].consumoTotal}}</td>
            <td>{{gestion.lecturas[0].pagar.monto}} {{gestion.lecturas[0].pagar.moneda}}.</td>
        </tr>
      </ng-container>
      <ng-template #MasLecturas>
        <tr>
          <td [rowSpan]="gestion.lecturas.length+1">{{gestion.gestion}}</td>
        </tr>
        <tr *ngFor="let lect of gestion.lecturas;let i=index">
            <td>{{lect.PlanillaMesLecturar}}</td>
            <td>{{lect.lectura}}</td>
            <td>{{lect.consumoTotal}}</td>
            <td>{{lect.pagar.monto | currency: lect.pagar.moneda}}</td>
        </tr>
  
      </ng-template>
      
    </ng-template>
   
  </p-table>

</div>
<div *ngIf="logosRecibos.multasPagadas.length>0" class="col-12 m-5">
  <h4 class="text-center">Multas pagadas</h4>
  <p-table [value]="logosRecibos.multasPagadas" [tableStyle]="{ 'min-width': '50rem' }" class="col-12">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>N° Multa</th>
            <th>N° comprobante pago Multa</th>
            <th>Motivo</th>
            <th>Metodo de pago</th>
            <th>Monto pagado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pagoMulta let-index="rowIndex">
      <ng-container>
        <tr>
            <td>{{index}}</td>
            <td>{{pagoMulta.multaServicio.id}}</td>
            <td>{{pagoMulta.id}}</td>
            <td>{{pagoMulta.multaServicio.motivo}}</td>
            <td>{{pagoMulta.metodoPago}}</td>
            <td>{{pagoMulta.montoPagado | currency: pagoMulta.moneda+'. '}}</td>
        </tr>
      </ng-container>
      
    </ng-template>
    
  </p-table>

</div>

<div class="col-12 flex flex-wrap flex-row-reverse">

</div>

<div class="col-12 md:col-offset-3 md:col-6">
  <p-button label="Generar recibo de impresión" styleClass="p-button-success" (onClick)="printPDFDetailsPago()"></p-button>
  <p-button label="cerrar" styleClass="p-button-secondary" (onClick)="closePrintRecibos()"></p-button>
</div>
</p-dialog>