<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="mt-3 mb-5">
                <h3 class="text-center">{{titleTableModule}}</h3>
            </div>
            <p-table #dt 
            dataKey="id"
            [value]="data"
            [rowHover]="true" 
            [paginator]="true"
            [rows]="10"
            [lazy]="true" 
            (onLazyLoad)="loadCustomers($event)"
            [totalRecords]="dataPaginator.size||0"
            [globalFilterFields]="['nombres', 'ci']"
            [customSort]="true"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            
            [tableStyle]="{ 'min-width': '50rem'}"
            currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} Registros"
            [scrollable]="true" scrollHeight="400px"
            >
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div class="col-6">
                            <div class="ml-3 mt-2">
                                <h5>{{titleTable}}</h5>
                           </div>
                        </div>
                        <div class="col-6">
                            <form class="flex flex-row-reverse flex-wrap"
                            [formGroup]="searchForm"
                            >
                            <span class="block mt-2 md:mt-0 p-input-icon-left ">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" inputId="termino"  placeholder="Buscar..." formControlName="termino" class="w-full sm:w-auto" (input)="dt.filterGlobal($event.target, 'contains')" />
                                <small
                                id="termino-help"
                                class="p-error block"
                                *ngIf="campoValido('termino')"
                                >{{ getTerminoErrors("termino") }}
                            </small>
                        </span>
                    </form>
                </div>
            </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombres" style="width:20%">Nombres <p-sortIcon field="nombres"></p-sortIcon></th>
                        <th pSortableColumn="ci" style="width:20%">CI <p-sortIcon field="CI"></p-sortIcon></th>
                        <th >Contacto</th>
                        <!-- <th >Barrio</th> -->
                        <th pSortableColumn="estado" style="width:20%">Estado<p-sortIcon field="Estado"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr >
                        <td>{{customer.id}}</td>
                        <td>{{customer.nombrePrimero | uppercase}} {{customer.nombreSegundo ||"" |uppercase}} {{customer.apellidoPrimero | uppercase}} {{customer.apellidoSegundo ||"" | uppercase}} </td>
                        <td>{{customer.CI}}</td>
                        <td>{{customer.contacto||'SIN CONTACTOS'}}</td>
                        <td ><p-tag [severity]="customer.isActive?'success':'danger'" [value]="customer.estado"></p-tag></td>
                        
                        <td>
                            <div class="flex p-fluid">
                                <!-- <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-info mr-2"
                                (click)="cobrosAfiliado(customer.id)"
                                ></button>
                                <button pButton pRipple icon="pi pi-book" class="p-button-rounded p-button-info mr-2"
                                (click)="historialCobros(customer.id)"
                                ></button> -->
                                <p-button icon="pi pi-money-bill" (onClick)="cobrosAfiliado(customer.id)" styleClass="p-button-rounded p-button-success mr-2"></p-button>
                                <!-- <p-button icon="pi pi-book" (onClick)="historialCobros(customer.id)" styleClass="p-button-rounded p-button-secondary mr-2"></p-button> -->
                            </div>
                        
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- <div class="col-12 card flex justify-content-center" *ngIf="data.length>0" >
        <p-paginator (onPageChange)="onPageChange($event)" [first]="dataPaginator.offset ||0" [totalRecords]="dataPaginator.size!" [rows]="dataPaginator.limit||10" [rowsPerPageOptions]="[10, 20, 50]"></p-paginator>
    </div> -->
</div>
<app-deudas-perfil
*ngIf="idPerfil>0 && visible"
[idPerfil]="idPerfil"
[visible]="visible"
(eventVisible)="closeModal($event)"
></app-deudas-perfil>
<app-historial-cobros
*ngIf="idPerfil>0 && visibleHistorial"
[idPerfil]="idPerfil"
[visible]="visibleHistorial"
(eventVisible)="visibleHistorial = $event"
></app-historial-cobros>