<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>REGISTRO DE LECTURAS DE MEDIDORES DE AGUA PARA LOS AFILIADOS</h4>
            <p-divider></p-divider>
            <h4>Año de Lecturas realizadas:</h4>
            <div class="grid mt-5 p-fluid">
                <div class="col-4">
                    <p-dropdown [options]="gestiones"  (onChange)="changeYear($event)" placeholder="Seleccione un año"></p-dropdown>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-12" *ngIf="data">
        <div class="card">
            <h5>Gestion {{data.anio}} de lecturas:</h5>
            <p-divider></p-divider>
            <div class="grid">
                <div class="col-12">

                    <p-table [value]="data.meses!" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Nro</th>
                            <th>Mes de Registro</th>
                            <th>Fecha Inicio de registro</th>
                            <th>Fecha Fin de registro</th>
                            <th>Registros realizados</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-index="rowIndex">
                        <tr>
                            <td>{{ index }}</td>
                            <td>{{ product.mes }}</td>
                            <td>{{ product.fechaRegistroLecturas | date: 'dd/MM/yyyy'  }}</td>
                            <td>{{ product.fechaFinRegistroLecturas | date: 'dd/MM/yyyy' }}</td>
                            <td> <button pButton label="Registros" icon="pi pi-external-link" iconPos="right" (click)="mostrarModal(product.mes)"></button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            </div>
        </div>
    </div>
</div>
<app-lecturas-registradas
    *ngIf="showRegistros"
    [lecturasOptions]="lecturasOptions"
    [visible]="showRegistros"
    (closePlanilla)="closeModal($event)"
>
</app-lecturas-registradas>