<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Afiliado</h5>
            <div class="grid" *ngIf="perfil">
                <div class="col-12 grid">
                    <div class="col-12 md:col-4">
                        <img src="../../../../assets/img/default_client.jpg" class="" alt="User profile" [style]="{'max-width':'248px'}">
                    </div>
                    <div class="col-12 md:col-8">
                        <h5 class="flex justify-content-center">Afiliado Vinculado</h5>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="afiliado">Nombre Completo</label>
                                <input pInputText id="afiliado" type="text" [disabled]="true" value="{{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||'' |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||'' | titlecase}}" class="appearance-none text-color text-base" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="CI">Cedula de Identidad</label>
                                <input pInputText id="CI" type="text" [disabled]="true" [value]="perfil.CI" class="appearance-none text-color text-base" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="contacto">Contacto</label>
                                <input pInputText id="contacto" type="text" [disabled]="true" value="SIN CONTACTOS" class="appearance-none text-color text-base" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="estado">Estado</label>
                                <input pInputText id="estado" type="text" [disabled]="true" [value]="perfil.estado" class="appearance-none text-color text-base" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="grid justify-content-between flex-wrap">
                        <div class="col-3">
                            <span class="p-float-label">
                                <p-dropdown
                                [options]="perfil.afiliado?.medidores"
                                placeholder="Seleccione un medidor"
                                optionLabel="nroMedidor"
                                inputId="float-label"
                                (onChange)="selectMedidor($event)"
                                ></p-dropdown>
                                <label for="float-label">Seleccione un medidor</label>
                            </span>
                        </div>
                        <div class="col-4">
                            <button pButton pRipple label="Registrar Nuevo Medidor" icon="pi pi-plus" class="p-button-info" (click)="registrarMedidor()"></button>
                        </div>
                    </div>
                    <p-divider ></p-divider>
                    <h5 *ngIf="medidorSelected">Medidor seleccionado</h5>
                    <div class="grid p-fluid mt-3" *ngIf="medidorSelected; else noData">
                        <div class="field col-12 md:col-6">
                            <label htmlFor="username">Nro de Medidor Registrada</label>
                            <input pInputText id="username" type="text" [disabled]="true" [value]="medidorSelected.nroMedidor" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="nombreUsuario">Marca de medidor</label>
                            <input pInputText id="nombreUsuario" type="text" [disabled]="true" [value]="medidorSelected.marca" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="correo">Fecha de instalacion</label>
                            <input pInputText id="correo" type="text" [disabled]="true" value="{{medidorSelected.fechaInstalacion | date: 'dd/MM/yyyy'}}" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="contactos">Barrio ubicacion</label>
                            <input pInputText id="contactos" type="text" [disabled]="true" [value]="medidorSelected.ubicacion?.barrio" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="codigoPostal">Lectura con la que se instaló</label>
                            <input pInputText id="codigoPostal" type="text" [disabled]="true" [value]="medidorSelected.lecturaInicial" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="contactos">Ultima lectura registrada</label>
                            <input pInputText id="contactos" type="text" [disabled]="true" [value]="medidorSelected.ultimaLectura" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="direccion">ESTADO</label>
                            <input pInputText id="direccion" type="text" [disabled]="true" [value]="medidorSelected.estado?'ACTIVO':'INACTIVO'" class="appearance-none text-color text-base" />
                        </div>
                    </div>
                    <ng-template #noData>
                        <p>No hay ningun medidor seleccionado</p>
                    </ng-template>  
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-12">
                <h5>Opciones para el Medidor</h5>
                <div class="grid p-fluid md:justify-content-center">
                    <div class="col-12 md:col-3 md:flex md:justify-content-center">
                        <button pButton pRipple label="Modificar Medidor" class="p-button-success" (click)="actionData('MODIFICAR')"></button>
                    </div>
                    <div class="col-12 md:col-3 md:flex md:justify-content-center" *ngIf="medidorSelected?.estado; else inhabilitado">
                        <button pButton pRipple label="Deshabilitar Medidor" class="p-button-warning" (click)="actionData('DESHABILITAR')"></button>
                    </div>
                    <ng-template #inhabilitado>
                        <div class="col-12 md:col-3 md:flex md:justify-content-center">
                            <button pButton pRipple label="Habilitar Medidor" class="p-button-info" (click)="actionData('HABILITAR')"></button>
                        </div>
                    </ng-template>
                    
                </div>
            </div>
        </div>
        
    </div>
    
</div>