<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Afiliado</h5>
            <div class="grid" *ngIf="perfil">
                <div class="col-12 grid">
                    <div class="col-12 md:col-4">
                        <img src="../../../../assets/img/default_client.jpg" class="" alt="User profile" [style]="{'max-width':'248px'}">
                    </div>
                    <div class="col-12 md:col-8">
                        <h5 class="flex justify-content-center">Afiliado Vinculado</h5>
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-6">
                                <label htmlFor="afiliado">Nombre Completo</label>
                                <input pInputText id="afiliado" type="text" [disabled]="true" value="{{perfil.nombrePrimero | titlecase}} {{perfil.nombreSegundo ||'' |titlecase}} {{perfil.apellidoPrimero | titlecase}} {{perfil.apellidoSegundo ||'' | titlecase}}" class="appearance-none text-color text-base" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="CI">Cedula de Identidad</label>
                                <input pInputText id="CI" type="text" [disabled]="true" [value]="perfil.CI" class="appearance-none text-color text-base" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="contacto">Contacto</label>
                                <input pInputText id="contacto" type="text" [disabled]="true" value="SIN CONTACTOS" class="appearance-none text-color text-base" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label htmlFor="estado">Estado</label>
                                <input pInputText id="estado" type="text" [disabled]="true" [value]="perfil.estado" class="appearance-none text-color text-base" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="grid justify-content-between flex-wrap">
                        <div class="col-3">
                            <span class="p-float-label">
                                <p-dropdown
                                [options]="medidoresPerfil"
                                placeholder="Seleccione un medidor"
                                optionLabel="name"
                                optionValue="value"
                                emptyMessage="Afiliado sin medidor"
                                inputId="float-label"
                                (onChange)="selectMedidor($event)"
                                ></p-dropdown>
                                <label for="float-label">Seleccione un medidor</label>
                            </span>
                        </div>
                        <div class="col-4">
                            <button pButton pRipple label="Asociar Medidor de agua" icon="pi pi-plus" class="p-button-info" (click)="asociarMedidor()"></button>
                        </div>
                    </div>
                    <p-divider ></p-divider>
                    <div class="flex justify-content-around" *ngIf="medidorAsociadoSelected">
                        <h5>Medidor {{medidorAsociadoSelected.medidor!.nroMedidor |uppercase}} Asociado seleccionado</h5>
                    </div>
                    <div class="grid p-fluid mt-3" *ngIf="medidorAsociadoSelected; else noData">
                        <div class="field col-12 md:col">
                            <label htmlFor="NroMedidor">Nro de Medidor Registrada</label>
                            <input pInputText id="NroMedidor" type="text" [disabled]="true" [value]="medidorAsociadoSelected.medidor?.nroMedidor" class="appearance-none text-color text-base" />
                        </div>
                        
                        <div class="field col-12 md:col">
                            <label htmlFor="barrio">Barrio</label>
                            <input pInputText id="barrio" type="text" [disabled]="true" [value]="medidorAsociadoSelected.ubicacion?.barrio" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col">
                            <label htmlFor="last">Lectura</label>
                            <input pInputText id="last" type="text" [disabled]="true" value="{{medidorAsociadoSelected.lecturaSeguimiento}} {{medidorAsociadoSelected.medidor?.medicion}}" class="appearance-none text-color text-base" />
                        </div>
                        <div class="field col-12 md:col">
                            <label htmlFor="estado">ESTADO</label>
                            <input pInputText id="estado" type="text" [disabled]="true" [value]="medidorAsociadoSelected.estado?'ACTIVO':'INACTIVO'" class="appearance-none text-color text-base" />
                        </div>
                    </div>
                    <div class="grid p-fluid md:justify-content-center mt-3 " *ngIf="medidorAsociadoSelected">
                        <div class="col-12 md:col-3 md:flex md:justify-content-center">
                            <button pButton pRipple label="Detalles de la asociacion" class="p-button-success" (click)="actionData('DETALLES')"></button>
                        </div>
                        <div class="col-12 md:col-3 md:flex md:justify-content-center">
                            <button pButton pRipple label="Historia de Lecturas" class="p-button-info" (click)="showPlanillas()"></button>
                        </div>
                    </div>
                    <ng-template #noData>
                        <p>No hay ningun medidor seleccionado</p>
                    </ng-template>  
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<app-gestion-planillas
*ngIf="planillaVisible"
[visible]="planillaVisible"
[medidor]="medidorAsociadoSelected"
(closePlanilla)="cerrarPlanillas($event)"
></app-gestion-planillas>
<app-asociar-medidor
*ngIf="asociaFormVisible"
[visible]="asociaFormVisible"
[showFormAsc]="formAsociar"
[asociacionSelect]="medidorAsociadoSelected"
[medidorSelect]="medidorSelect"
[perfilSelect]="perfil"
(sendVisible)=" resetVisible($event)"
></app-asociar-medidor>
<app-medidores-libres-select-table
*ngIf="showMedidoresLibresVisible"
[displayModalTable]="showMedidoresLibresVisible"
(onDataSelected)="medidorSelectedOpt($event)"
(closeDisplayModalTable)="showMedidoresLibresVisible = $event"
></app-medidores-libres-select-table>