<div class="grid">
    <form class="col-12" [formGroup]="roleForm">
      <div class="card">
        <h5>
          {{roleActual?.id? "Datos de Rol seleccionado": "Registro de un nuevo Rol"}}
        </h5>
        <p-divider></p-divider>
        <div class="p-fluid p-formgrid grid mt-5">
          <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  type="text"
                  id="nombre"
                  pInputText
                  formControlName="nombre"
                  [ngClass]="inputValid('nombre')"
                />
                <label for="nombre">Nombre del Rol (*)</label>
              </span>
              <small
                id="nombre-help"
                class="p-error block"
                *ngIf="campoValido('nombre')"
                >{{ getNombreErrors("nombre") }}
              </small>
            </div>
            <div class="field col-12 md:col-4">
              <span class="p-float-label">
                <p-dropdown
                  inputId="nivel"
                  [autoDisplayFirst]="false"
                  [options]="commonAppService.niveles"
                  formControlName="nivel"
                  optionLabel="name"
                  optionValue="value"
                  placeholder="Select nivel"
                  [ngClass]="inputValid('nivel')"
                ></p-dropdown>
    
                <label for="nivel">nivel (*)</label>
              </span>
              <small
                id="nivel-help"
                class="p-error block"
                *ngIf="campoValido('nivel')"
                >{{ getNivelErrors("nivel") }}
              </small>
            </div>
            <div class="field col-12 md:col-4" *ngIf="noHayRole()">
              <span class="p-float-label">
                <p-dropdown
                  inputId="estado"
                  [autoDisplayFirst]="false"
                  [options]="commonAppService.estados"
                  formControlName="estado"
                  optionLabel="name"
                  optionValue="value"
                  placeholder="Select Estado"
                  [ngClass]="inputValid('estado')"
                ></p-dropdown>
    
                <label for="estado">estado (*)</label>
              </span>
              <small
                id="estado-help"
                class="p-error block"
                *ngIf="campoValido('estado')"
                >{{ getEstadoErrors("estado") }}
              </small>
            </div>
              <!-- Sección de Menús -->
              <div class="col-12 p-field mb-3" >
                <label class="block mb-5 text-2xl">Selección de Menús para los acceso del rol</label>
                <div formArrayName="menus" class="grid">
                  <div class="col-12 md:col-6" 
                  *ngFor="let menuControl of menusFormArray.controls; let i=index">
                  <div [formGroupName]="i" >
                    <div class="field-checkbox">
                      <p-checkbox
                      [binary]="true"
                      [inputId]="'menu_'+i"
                      formControlName="selected"
                      ></p-checkbox>
                      <label [for]="'menu'+i"><strong>{{ menuControl.value.name | titlecase }} : </strong></label>
                    </div>
                    <div class="grid ml-4 mt-2">
                    	<div class="col-12" *ngFor="let item of getItems(menuControl.value.id)">{{item.nombre}}</div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            <!-- <div class="col-12">
              <h5>Menus para vincular</h5>
              <p-divider></p-divider>
              <div class="mt-3">
              <p-table [value]="listMenusSelected" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Code</th>
                        <th>Nombre</th>
                        <th>Enlace de Item</th>
                        <th>Estado</th>
                        <th style="width: 5rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-index>
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.nombre }}</td>
                        <td>{{ customer.linkMenu }}</td>
                        <td>
                          <p-tag [severity]="customer.isActive?'success':'danger'" [value]="customer.estado"></p-tag>
                       
                        </td>
                        <td>
                            <button type="button" pButton pRipple icon="pi pi-times" class="p-button-danger p-button-rounded" (click)="deleteItemMenu(customer.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
            <div [style]="{'max-width':'110px'}" class="m-3">
              <app-menu-select-table 
              *ngIf="showTableAsignModalForm"
              [displayModalTable]="showTableAsignModalForm"
              (closeDisplayModalTable)="closeTableModalForm($event)"
              (onDataSelected)="ListMenuSelected($event)"
              >
              </app-menu-select-table>
              <button pButton pRipple label="Añadir Item" icon="pi pi-plus" class="p-button-info p-button-rounded" (click)="addItem()"></button>
            </div>
            </div> -->
            <div class="col-12 md:flex md:justify-content-center ">
              <button
                type="button"
                pButton
                pRipple
                class="p-button-primary"
                [label]="roleActual?.id?'Modificar Rol':'Registrar Rol'"
                [disabled]="roleForm.pending"
                (click)="validForm()"
              ></button>
            </div>
        </div>
      </div>
    </form>
  </div>