<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <span>AAPLAT</span>
    </a>

    <!-- <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button> -->
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" 
    
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}" *ngIf="usuario; else nouser">
            <button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>
            <p >Usuario:{{usuario.username}}</p>
            <p-overlayPanel #op>
                <ng-template pTemplate="content">
                    <p-panelMenu [model]="itemsUser" [style]="{'width':'250px'}"></p-panelMenu>
                </ng-template>
            </p-overlayPanel>
            <button class="p-link layout-topbar-button"
                (click)="op.toggle($event)"    >
                <i class="pi pi-cog"></i>
            </button> 
            <p-dropdown [options]="roles"
            optionLabel="name"
            (onChange)="rolChange($event)"
            optionValue="value"
            >
            </p-dropdown>
        </div>

        <ng-template #nouser>
            <!-- <button class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button> -->
            <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
                <p-button label="INGRESAR" styleClass="p-button-raised p-button-text" [routerLink]="'/auth/login'"></p-button>
            </div>
        </ng-template>
        
</div>
